/* main */
.community-visual {width:100%;height:526px;background:#ddeafb url(../images/img_main.png) no-repeat right bottom;background-size:cover;}
.community-visual .visual {position:relative;max-width:1200px;margin:auto;}
.community-visual .service {position:absolute;top:96px;left:0;max-width:618px;width:100%;padding:28px 19% 28px 28px;background-color:#6cad22;border-radius:20px;}
.community-visual .service::before {content:"";position:absolute;top:-36px;right:30px;width:160px;height:148px;background:url(../images/img_knowledge.png) no-repeat left top;background-size:cover;}
.community-visual .service strong,
.community-visual .village strong {color:#fff;font-size:24px;letter-spacing:-0.43px;}
.community-visual .service p,
.community-visual .village p {color:#fff;font-size:15px;letter-spacing:-.024px;line-height:1.47;}
.community-visual .more {margin-top:20px;background:none;border:1px solid #fff;border-radius:26px;padding:10px 16px;color:#fff;font-size:14px;letter-spacing:-0.22px;font-weight:500;}
.community-visual .village {position:absolute;top:220px;right:0;max-width:618px;width:100%;padding:28px 19% 28px 28px;background-color:#ee8508;border-radius:20px;}
.community-visual .village::before {content:"";position:absolute;top:-36px;right:30px;width:160px;height:148px;background:url(../images/img_author.png) no-repeat left top;background-size:cover;}

.knowledge {margin-top:108px;}
.knowledge h3 {color:#101314;font-size:38px;font-family:'NanumSquareRound';font-weight:700;line-height:1.13;text-align:center;}
.knowledge h3 strong {color:#ee8508;}
.knowledge .swiper-container {position:relative;max-width:1296px;margin:40px auto;}

.knowledge .swiper-container .swiper {max-width:1200px;height:100%;margin:auto;padding-bottom:40px;}
.knowledge .swiper-container .swiper-slide img {display:block;width:100%;height:100%;object-fit:cover;}
.knowledge .swiper-container .swiper-slide .img {position:relative;}
.knowledge .swiper-container .swiper-slide .img .img-txt {position:absolute;left:20px;bottom:20px;color:#fff;font-size:18px;font-weight:500;}
.knowledge .swiper-container .swiper-slide .swiper-txt {margin-top:14px;color:#4b4b4b;font-size:14px;line-height:1.43;}
.knowledge .swiper-container::before {content:"";position:absolute;top:-114px;left:-87px;width:222px;height:173px;background:url(../images/img_deco01.png) no-repeat left top;background-size:cover;}
.knowledge .swiper-container::after {content:"";position:absolute;top:-76px;right:-161px;width:230px;height:235px;background:url(../images/img_deco02.png) no-repeat left top;background-size:cover;}

.community-banner {position:relative;max-width:1200px;margin:108px auto 0;padding:44px 60px;background-color:#f1f1f2;border-radius:20px;}
.community-banner::after {content:"";position:absolute;top:-24px;right:48px;width:232px;height:154px;background:url(../images/img_banner_ob.png) no-repeat left top;background-size:cover;}
.community-banner strong {color:#101314;font-size:24px;line-height:1.13;}
.community-banner p {margin-top:5px;color:#101314;font-size:14px;line-height:1.43;}

.community-new {margin-top:92px;padding:92px 0 80px;background-color:#f9faf4;}
.community-new h3 {color:#101314;font-size:38px;font-family:'NanumSquareRound';font-weight:700;line-height:1.13;text-align:center;}
.community-new h3 strong {color:#ee8508;}
.new-list {max-width:1296px;margin:0 auto;}
.new-list > li.col-lg-6 {padding:12px;}
.new-list > li .mgbox {position:relative;padding:30px 24px 81px 24px;background:#fff;border:1px solid #e2e2e2;border-radius:20px;}
.tag-list {display:flex;flex-wrap:wrap;}
.tag-list li a {color:#ee8508;font-size:13px;font-weight:bold;}
.tag-list li + li {margin-left:8px;}
.new-list > li .mgbox > a > strong {display:block;margin-top:24px;color:#101314;font-size:22px;line-height:1.55;letter-spacing:-1.1px;}
.new-list > li .mgbox > a > p {margin-top:16px;color:#757575;font-size:15px;line-height:1.67;letter-spacing:-0.45px;}
.new-list > li .mgbox .comme-answer {position:absolute;left:0;bottom:0;right:0;display:flex;align-items:center;justify-content: space-between;height:48px;padding:0 24px;border-top:1px solid #f2f2f2;}
.new-list > li .mgbox .comme-answer .com-good .comm {position:relative;padding-left:24px;color:#848484;font-size:14px;line-height:1.43;}
.new-list > li .mgbox .comme-answer .com-good .comm::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:20px;height:20px;background:url(../images/ico_20_reply_n.png) no-repeat left top;background-size:cover;}
.new-list > li .mgbox .comme-answer .com-good .good {position:relative;margin-left:16px;padding-left:24px;color:#848484;font-size:14px;line-height:1.43;}
.new-list > li .mgbox .comme-answer .com-good .good::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:20px;height:20px;background:url(../images/ico_20_like_n.png) no-repeat left top;background-size:cover;}
.new-list > li .mgbox .comme-answer .ana-wrap .ana-ans {color:#4e5658;font-size:14px;font-weight:bold;}
.new-list > li .mgbox .comme-answer .ana-wrap .ana-name {margin-left:4px;color:#848484;font-size:14px;font-weight:500;}
.new-list > li .mgbox .comme-answer .ana-wrap .ana-area {position:relative;margin-left:6px;padding-left:8px;color:#848484;font-size:14px;font-weight:500;}
.new-list > li .mgbox .comme-answer .ana-wrap .ana-area::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:2px;height:2px;background-color:#848484;}

.village-news {padding:92px 0 134px;background:#ffeed9 url(../images/img_bottom.jpg) no-repeat center bottom;background-size:cover;}
.village-news h3 {color:#101314;font-size:38px;font-family:'NanumSquareRound';font-weight:700;line-height:1.13;text-align:center;}
.village-news h3 strong {color:#ee8508;}
.village-news-list {max-width:1200px;margin:40px auto 0;}
.village-news-list .vn-list {position:relative;background:#fff;border:1px solid #e2e2e2;border-radius:20px;}
.village-news-list .vn-list + .vn-list {margin-top:24px;}
.village-news-list .vn-list .vn-txt-wrap {display:flex;width:100%;padding:30px 24px;}
.village-news-list .vn-list .vn-txt-wrap .vn-txt {max-width:971px;width:100%;margin-right:24px;}
.village-news-list .vn-list .vn-txt-wrap .vn-txt a > strong {display:block;margin-top:24px;color:#101314;font-size:22px;line-height:1.55;letter-spacing:-1.1px;}
.village-news-list .vn-list .vn-txt-wrap .vn-txt a > p {margin-top:16px;color:#757575;font-size:15px;line-height:1.67;letter-spacing:-0.45px;}
.village-news-list .vn-list .vn-img {max-width:161px;width:100%;border-radius:12px;overflow:hidden;}
.village-news-list .vn-list .vn-img img {width:100%;margin:auto;}
.village-news-list .vn-list .vn-wrap {display:flex;align-items:center;padding:13px 24px;border-top:1px solid #e2e2e2;}
.village-news-list .vn-list .vn-wrap ul {display:flex;}
.village-news-list .vn-list .vn-wrap .vn-name {color:#848484;font-size:14px;font-weight:500;}
.village-news-list .vn-list .vn-wrap .vn-tit {color:#848484;font-size:14px;font-weight:500;}
.village-news-list .vn-list .vn-wrap .vn-tit {position:relative;margin-left:6px;padding-left:8px;color:#848484;font-size:14px;font-weight:500;}
.village-news-list .vn-list .vn-wrap .vn-tit::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:2px;height:2px;background-color:#848484;}
.village-news-list .vn-list .vn-wrap .vn-date {position:relative;margin-left:6px;padding-left:8px;color:#bcbcbc;font-size:14px;font-weight:500;}
.village-news-list .vn-list .vn-wrap .vn-date::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:1px;height:12px;background-color:#dfdfe2;}


/* 연령별 */
.community {background:url(../images/img_top_community.jpg) no-repeat center;background-size:cover;}

.community-home .tab-wrap {position:relative;margin-top:32px;padding-top:24px;border-top:1px solid #101314;}
.community-home .tab-wrap .cmnt-btn {position:absolute;bottom:12px;right:0;}


.filter-tab {display:flex;flex-wrap:wrap;margin-top:20px;padding:20px 16px;background:#f8f8f8;border:1px solid #e8e8e8;border-radius:12px;}
.filter-tab .all-area {display:flex;width:100%;padding-bottom:12px;border-bottom:1px solid #e8e8e8;}
.filter-tab .all-area a {position:relative;width:auto;margin:0;padding:0;background:none;border:none;}
.filter-tab .all-area a,
.filter-tab .all-area span {position:relative;color:#848484;font-size:14px;letter-spacing:-0.34px;}
.filter-tab .all-area span {color:#2c2c2c;}
.filter-tab .all-area span,
.filter-tab .all-area a + a {margin-left:4px;padding-left:16px;}
.filter-tab .all-area span::after,
.filter-tab .all-area a + a::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:12px;height:12px;background:url(../images/ico_12_area.png) no-repeat left top;background-size:cover;}
.filter-tab .line {margin:0 -4px 0 -4px;padding-top:8px;display:flex;flex-wrap:wrap;justify-content:space-between;}
.filter-tab button {width:calc(16.66666666666% - 8px);margin:8px 4px 0 4px;padding:14px 0;background:#fff;border:1px solid #dedede;border-radius:12px;color:#101314;font-size:16px;line-height:1.5;font-weight:500;}
.filter-tab button.active {background:#ee8508;color:#fff;}


h3.tit {color:#101314;font-size:24px;line-height:1.5;font-weight:bold;}
h3.tit strong {color:#ee8508;}

.commnt-list {margin-top:17px;display:flex;flex-wrap:wrap;justify-content:space-between;}
.commnt-list li {margin:0 0 20px 10px;width:calc(50% - 12px);display:flex;padding:24px;background:#fff;border:1px solid #e2e2e2;border-radius:20px;box-shadow:0 3px 10px 0 rgba(161, 105, 18, 0.05);}
.commnt-list li:nth-child(odd) {margin-left:0;}
.commnt-list li .c-img {flex-shrink:0;overflow:hidden;width:120px;height:120px;border:1px solid #e6e7e7;border-radius:12px;}
.commnt-list li .c-img img {width:100%;height:auto;}
.commnt-list li .c-txt {flex-grow: 1;margin-left:16px;position:relative;}
.commnt-list li .c-txt h4 {margin:0;color:#101314;font-size:20px;line-height:1.5;letter-spacing:-1px;font-weight:bold;}
.commnt-list li .c-txt p {margin-top:8px;color:#757575;font-size:15px;line-height:1.67;letter-spacing:-0.45px;}
.commnt-list li .c-txt .i-wrap {position:absolute;left:0;bottom:4px;display:flex;}
.commnt-list li .c-txt .i-wrap .i-memb {margin-right:16px;position:relative;padding-left:29px;color:#848484;font-size:14px;line-height:1.43;font-weight:500;}
.commnt-list li .c-txt .i-wrap .i-memb::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:20px;height:20px;background:url(../images/ico_20_member_n.png) no-repeat left top;background-size:cover;}
.commnt-list li .c-txt .i-wrap .i-writing {position:relative;padding-left:29px;color:#848484;font-size:14px;line-height:1.43;font-weight:500;}
.commnt-list li .c-txt .i-wrap .i-writing::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:20px;height:20px;background:url(../images/ico_20_writing_n.png) no-repeat left top;background-size:cover;}

.commnt-table {margin-top:16px;border-top:1px solid #999;}
.commnt-table dt {padding:16px 0;}
.commnt-table dt .req {margin:0 2px;color:#e75f3f;}
.commnt-table dd {margin-bottom: 0; padding:8px 0;}
.commnt-table dt,
.commnt-table dd {border-bottom:1px solid #e8e8e8;color:#282b2c;font-size:15px;}
.commnt-table dd .iw240 {width:240px;}
.commnt-table dd .iw308 {width:308px;}
.commnt-table dd .iw363 {width:363px;}
.commnt-table dd .select .btn {width:150px;}
.commnt-table dd .select .dropdown-menu {width:150px;}
.commnt-table dd .select + .select {margin-left:8px;}
.commnt-table dd .file-sec {margin:0 0 0 8px;}
.commnt-table dd .commnt-textarea {width:100%;height:74px;padding:16px;border-radius:8px;border:1px solid #d8d8d8;font-size: 14px;line-height: 21px;}
.commnt-table dd .img-upload {display:flex;column-gap: 8px;}
.commnt-table dd .img-upload .reptimg {position: relative; width:102px;height:102px;border:1px solid #b2b2b2;background-color:#e5e5e5;background:url(../images/rept_bg_img.jpg) no-repeat center;background-size:cover;}
.commnt-table dd .img-upload .reptimg img {width:100%;height:100%;}
.commnt-table dd .img-upload .reptimg .photo-del {position:absolute;top:4px;right:4px;width:16px;height:16px;background:transparent url(../images/ico_16_photo_close_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.commnt-table dd .img-upload .mainimg {position: relative;width:102px;height:102px;border:1px solid #b2b2b2;background-color:#e5e5e5;background:url(../images/main_bg_img.jpg) no-repeat center;background-size:cover;}
.commnt-table dd .img-upload .img img {width:100%;height:auto;}
.commnt-table dd .img-upload .mainimg .photo-del {position:absolute;top:4px;right:4px;width:16px;height:16px;background:transparent url(../images/ico_16_photo_close_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.commnt-table dd .img-upload .mainimg img {width:100%;height:100%;}
.commnt-table dd .img-upload .img-btn .files-area {margin-top:35px;}
.commnt-table .col-1 {flex:0 0 11.3%;max-width: 11.3%;}
.commnt-table .col-11 {flex:0 0 88.7%;max-width: 88.7%;}

.txt-complete {position:relative;margin-left:8px;padding-left:18px;color:#59a530;font-size:12px;}
.txt-complete::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_complete.png) no-repeat left top;background-size:cover;}
.txt-error {position:relative;margin-left:8px;padding-left:18px;color:#cf1f25;font-size:12px;}
.txt-error::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_error.png) no-repeat left top;background-size:cover;}
.error-bd {border:1px solid #e54e2b !important;}

.community-home {padding:32px 0 0 0;}
.community-home .tab-wrap {max-width:1200px;margin:32px auto 0;}
.community-home h3 {max-width:1200px;margin:56px auto 0;color:#101314;font-size:38px;font-family:'NanumSquareRound';line-height:1;}
.community-home h3 strong {color:#ee8508;}
.community-home h3.tit {margin-top: 68px;font-size:24px;}
.community-swiper .swiper-container {max-width:1296px;width:100%;margin:24px auto 0;padding:0 48px;position:relative;}
.community-swiper .swiper {padding-bottom:48px;}
.community-swiper .recom-wrap {overflow:hidden;border-radius:20px;}
.community-swiper .img {overflow:hidden;position:relative;max-width:282px;height:210px;}
.community-swiper .img img {position:absolute;top:-9999px;left:-9999px;bottom:-9999px;right:-9999px;margin:auto;}
.community-swiper .txt {padding:20px 0 23px 20px;background-color:#fff;border:1px solid rgba(112, 112, 112, 0.13);border-top:none;border-bottom-left-radius:20px;border-bottom-right-radius:20px;box-shadow:0 3px 12px rgba(0,0,0,0.05);}
.community-swiper .txt .tit {color:#101314;font-size:16px;font-weight:500;}
.community-swiper .txt .mb-num {margin-top:6px;color:#757575;font-size:13px;}
.com-operation {margin-top:60px;padding:88px 0;background:#ee8508;}
.com-operation h3 {position:relative;margin:0 auto;padding-bottom:12px;color:#fff;border-bottom:4px solid #be6c0b;}
.com-operation h3::after {content:"";position:absolute;left:0;bottom:-4px;width:40px;height:4px;background-color:#fff;}
.com-operation h3 strong {color:#be6c0b;letter-spacing:-1.52px;}
.com-operation .commnt-list {max-width:1200px;margin:24px auto 0;}
.community-home .filter-tab {max-width:1200px;margin:20px auto 0;}
.community-home .tit + .commnt-list {max-width:1200px;margin:17px auto 0;}



.pc {display:block;}
.mo {display:none;}
@media only screen and (max-width: 1650px){
    .knowledge .swiper-container::after {display:none;}
}
@media only screen and (max-width: 1024px) {
    .pc {display:none;}
    .mo {display:block;}
    header .util {display:none;}
    .gnb > ul {padding:0 16px;}
    .gnb > ul li .logo {width:125px;height:20px;}
    .tit_sub {height: 20px;line-height: 20px;font-size:13px;border-radius: 2px;}
    .gnb .icon-user {display: none;}
    .search-btn,
    .menu-btn {width:24px;height:24px;}
    .search-btn {margin-right: 10px;}
    .lnb-area {padding:0;}
    .lnb-area .home {display:none;}
    
    .community-visual {height:auto;}
    .community-visual .swiper-container {padding:15% 5%;}
    .community-visual .swiper-slide {position:relative;padding-top:37px;}
    .community-visual .service,
    .community-visual .village {position:inherit;top:0;left:0;padding:28px 20px 20px;}
    .community-visual .service::before,
    .community-visual .village::before {right:5%;width:90px;height:84px;}
    .community-visual .service strong, .community-visual .village strong {font-size:20px;}
    .community-visual .service p, .community-visual .village p {margin-top:16px;font-size:14px;}
    .community-visual .service br, .community-visual .village br {display:inline;}

    .knowledge {margin-top:44px;padding-left:16px;}
    .knowledge h3 {font-size:24px;text-align:left;}
    .knowledge .swiper-container {margin-top:16px;padding:0;}
    .knowledge .swiper-container::before {display:none;}
    .knowledge .swiper-container::after {display:none;}

    .community-banner {margin:0 16px;padding:24px 40% 24px 16px;}
    .community-banner::after {top:21%;right:3%;width:115px;height:77px;}
    .community-banner strong {font-size:16px;}

    .village-news {padding:44px 16px 56px;background-color:#ffeed9;}
    .village-news h3 {font-size:24px;text-align:left;}
    .village-news-list {margin-top:16px;}
    .village-news-list .vn-list {border-radius: 12px;}
    .village-news-list .vn-list .vn-wrap {column-gap: 10px;}
    .village-news-list .vn-list .vn-wrap .name-title{position: relative; padding-right: 10px;}
    .village-news-list .vn-list .vn-wrap .name-title:after{content: "";
        position: absolute;
        right: -1px;
        top: 6px;
        width: 1px;
        height: 12px;
        background: #dfdfe2;
    }
    .village-news-list .vn-list .vn-txt-wrap {display:block;padding: 24px 16px;}
    .village-news-list .vn-list .vn-txt-wrap .vn-txt a > strong {margin-top: 16px; font-size: 18px;}
    .village-news-list .vn-list .vn-txt-wrap .vn-txt a > p {margin-top: 12px; font-size: 14px;}
    .village-news-list .vn-list .vn-img {overflow:hidden;position:relative;margin-top:20px;padding-top:62.2%;max-width:100%;}
    .village-news-list .vn-list .vn-img img {position:absolute;top:-9999px;left:-9999px;right:-9999px;bottom:-9999px;width:100%;margin:auto;}
    .village-news-list .vn-list .vn-wrap .vn-date {margin-left:0;padding-left:0;}
    .village-news-list .vn-list .vn-wrap .vn-date::after {display:none;}

    .community-new {margin:16px 0 0 0;padding:44px 4px;}
    .community-new h3 {margin-left:16px;font-size:24px;font-weight:700;text-align:left;}
    .new-list > li.col-lg-6 {padding:6px 12px;}
    .new-list > li .mgbox > a > strong {margin-top:6px;font-size:18px;}
    .new-list > li .mgbox > a > p {margin-top:12px;font-size:14px;}

    .community-home {padding:16px 0 0 0;}
    .community-home .inner {padding:0 16px;}
    .community-home .sc-tit {margin:44px 0 0 16px;}
    .community-home .tab-wrap {margin:4px 0 0 0;padding:0;border-top:none;border-bottom:1px solid #e8e8e8;}
    .community-home .tab-wrap .scroller {overflow-x:scroll;-ms-overflow-style:none;scrollbar-width:none;}
    .community-home .tab-wrap .scroller::-webkit-scrollbar {display:none;}
    
    .community-home .tab-wrap .pc-tab::before,
    .community-home .tab-wrap .pc-tab::after {content:"";display:table;}
    .community-home .tab-wrap .pc-tab::after {clear:both;}
    .community-home .tab-wrap .pc-tab li {float:left;}
    .community-home .pc-tab li .nav-link {padding:16px 18px 18px;font-size:16px;}
    .community-home .pc-tab li + li {margin:0;}
    .community-home .tab-wrap .cmnt-btn {position:inherit;bottom:inherit;left:inherit;padding:20px 16px;}
    .community-home .tab-wrap .cmnt-btn .btn {display:block;width:100%;height:44px;}
    .community-home .search-box {padding:0 16px}
    .community-home h3.tit {margin:44px 0 0 0;}
    .community-swiper .swiper-container {padding:0 0 0 16px;}
    .commnt-list {margin-top:20px;}
    .commnt-list li {width:100%;margin:0;padding:12px;}
    .commnt-list li + li {margin-top:12px;}
    .commnt-list li .c-img {width:88px;height:88px;}
    .commnt-list li .c-txt {margin-left:8px;}
    .commnt-list li .c-txt h4 {font-size:15px;}
    .commnt-list li .c-txt p {margin-top:2px;font-size:13px;line-height:1.54;}
    .commnt-list li .c-txt .i-wrap {position:inherit;left:inherit;bottom:inherit;margin-top:8px;}
    .commnt-list li .c-txt .i-wrap .i-memb,
    .commnt-list li .c-txt .i-wrap .i-writing {font-size:12px;}
    .commnt-list li .c-txt .i-wrap .i-memb::after {width:16px;height:16px;}
    .commnt-list li .c-txt .i-wrap .i-writing::after {width:16px;height:16px;}
    .commnt-list+.morebtn {margin-top: 16px; text-align: center;}
    .com-operation {margin-top:40px;padding:44px 0;}
    .com-operation h3 {margin:0;}
    .community-home .filter-tab .line {width:calc(100% + 8px)}
    .community-home .filter-tab {padding:16px;border-radius:0;border-left:none;border-right:none;border-bottom:none;}
    .community-home .filter-tab button {width:calc(33.3333% - 6px);margin:3px;padding:14px 3px;font-size:13px;letter-spacing:-0.39px;}
    .search-txt {margin:16px 16px 0 16px;padding-bottom:16px;}
    .search-txt p {font-size:16px;}
    
    .search-result-non {padding:48px 0;}
    .search-result-non .none-search {width:100px;height:100px;}
    .search-result-non .txt {font-size:18px;}
    .search-result-non .stxt {font-size:14px;}
    .search-result-non .m-block {display:block;}

    

}
@media only screen and (max-width: 480px) {
    .community-home .tab-wrap .pc-tab {width:480px;}
}