.disabled {pointer-events:none;}
.btn-outline-frame34 {padding:6px 12px 5px;border-color:#968f8f;color:#101314;font-size:14px;}
.btn-outline-frame34:hover {border-color:#101314;}
.btn-outline-frame34:hover .arrow-right::after {background:url(../images/btn_16_arrow_black_p.png) no-repeat right center;background-size:cover;}
.btn-outline-frame34.disabled {border-color:#cfd0d0;color:#cfd0d0;}
.btn-outline-frame34.disabled .arrow-right::after {background:url(../images/btn_16_arrow_black_d.png) no-repeat right center;background-size:cover;}
.arrow-right {position:relative;padding-right:22px;}
.arrow-right::after {content:'';position:absolute;top:50%;right:0;width:16px;height:16px;background:url(../images/btn_16_arrow_black_n.png) no-repeat right center; background-size:cover; transform: translateY(-50%);}
.btn-outline-green {padding:6px 12px 5px;border-color:#94eb32;color:#94eb32;font-size:14px;}
.btn-outline-green .arrow-right::after {background:url(../images/btn_16_arrow_green_n.png) no-repeat right center;background-size:cover;}
.btn-outline-green:hover {border-color:#94eb32;color:#94eb32;}
.btn-outline-green:hover .arrow-right::after {background:url(../images/btn_16_arrow_green_p.png) no-repeat right center;background-size:cover;}
.btn-outline-green.disabled {border-color:#cfd0d0;color:#cfd0d0;}
.btn-outline-green.disabled .arrow-right::after {background:url(../images/btn_16_arrow_green_d.png) no-repeat right center;background-size:cover;}

.btn-outline-frame40 {padding:9px 16px 8px;background:white;border-color:#101314;color:#101314;font-size:14px;}
.btn-outline-frame40:hover {border-color:#101314;background-color:rgba(232, 232, 232, 0.5);}
.btn-outline-frame40.disabled {background:white;border-color:#cfd0d0;color:#cfd0d0;opacity: 1;}

.btn-outline-frame44 {padding:9px 16px;background:white;border-color:#101314;color:#101314;font-size:16px;}
.btn-outline-frame44:hover {border-color:#101314;background-color:rgba(232, 232, 232, 0.5);}
.btn-outline-frame44.disabled {background:white;border-color:#cfd0d0;color:#cfd0d0;opacity: 1;}

.btn-black48 {padding:10px 20px 9px;background-color:#282b2c;border-color:#282b2c;color:#fff;font-size:18px;}
.btn-black48:hover {border-color:#585a5b;background-color:#585a5b;color:#fff;}
.btn-black48.disabled {background-color:#b8b9b9;border-color:#b8b9b9;color:#cfd0d0;opacity: 1;}

.btn-white48 {padding:10px 20px 9px;background-color:#fff;color:#282b2c;font-size:18px;}
.btn-white48:hover {border-color:rgba(232, 232, 232, 0.5);background-color:rgba(232, 232, 232, 0.5);color:#282b2c;}
.btn-white48.disabled {background-color:#e8e8e8;border-color:#e8e8e8;color:#cfd0d0;opacity: 1;}

.btn-white76 {padding:25px 10px 24px;background-color:#fff;border-color:#cfd0d0;border-radius:12px;color:#101314;font-size:18px;}
.btn-white76:hover {border-color:#ee8508;background-color:#ee8508;color:#fff;}
.btn-white76.disabled {background-color:#e8e8e8;border-color:#e8e8e8;color:#cfd0d0;opacity: 1;}

.btn-more24 {color:#88898a;font-size:12px;text-decoration:none;}
.btn-more24:hover {color:#282b2c;}
.btn-more24:hover .icon-more::after {background:url(../images/btn_8_ico_plus_p.png) no-repeat right center;background-size:cover;}
.btn-more24.disabled {border-color:#cfd0d0;color:#cfd0d0;}
.btn-more24.disabled .icon-more::after {background:url(../images/btn_8_ico_plus_d.png) no-repeat right center;background-size:cover;}
.btn-more24 .icon-more {position:relative;padding-left:11px;}
.btn-more24 .icon-more::after {content:'';position:absolute;top:50%;left:0;width:8px;height:8px;background:url(../images/btn_8_ico_plus_n.png) no-repeat right center; background-size:cover; transform: translateY(-50%);}

.btn-more32 {color:#88898a;font-size:13px;text-decoration:none;}
.btn-more32:hover {color:#282b2c;}
.btn-more32:hover .icon-more::after {background:url(../images/btn_8_ico_plus_p.png) no-repeat right center;background-size:cover;}
.btn-more32.disabled {border-color:#cfd0d0;color:#cfd0d0;}
.btn-more32.disabled .icon-more::after {background:url(../images/btn_8_ico_plus_d.png) no-repeat right center;background-size:cover;}
.btn-more32 .icon-more {position:relative;padding-left:14px;}
.btn-more32 .icon-more::after {content:'';position:absolute;top:50%;left:0;width:10px;height:10px;background:url(../images/btn_8_ico_plus_n.png) no-repeat right center; background-size:cover; transform: translateY(-50%);}

.player-btn {position:relative;}
.player-btn .btn-play {width:68px;height:68px;background:url(../images/btn_68_play_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;} 
.player-btn .btn-play:hover {background:url(../images/btn_68_play_p.png) no-repeat left top;background-size:cover;}
.player-btn .btn-play.disabled {background:url(../images/btn_68_play_d.png) no-repeat left top;background-size:cover;}

.btn-increace {width:52px;height:52px;background:url(../images/btn_52_map_full_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;}
.btn-increace:hover {background:url(../images/btn_52_map_full_p.png) no-repeat left top;background-size:cover;}
.btn-increace.disabled {background:url(../images/btn_52_map_full_d.png) no-repeat left top;background-size:cover;}

.count {display:flex;}
.count .plus {width:52px;height:52px;background:url(../images/btn_52_map_zoomin_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;}
.count .plus:hover {background:url(../images/btn_52_map_zoomin_p.png) no-repeat left top;background-size:cover;}
.count .plus.disabled {background:url(../images/btn_52_map_zoomin_d.png) no-repeat left top;background-size:cover;}

.count .minus {width:52px;height:52px;background:url(../images/btn_52_map_zoomout_n.png) no-repeat left top;background-size:cover;border:none;border-top:1px solid #707070;font-size:0;}
.count .minus:hover {background:url(../images/btn_52_map_zoomout_p.png) no-repeat left top;background-size:cover;}
.count .minus.disabled {background:url(../images/btn_52_map_zoomout_d.png) no-repeat left top;background-size:cover;}

.control-btn .control-prev {width:48px;height:48px;background:url(../images/btn_48_ico_left_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;}
.control-btn .control-prev:hover {background:url(../images/btn_48_ico_left_p.png) no-repeat left top;background-size:cover;}
.control-btn .control-prev.disabled {background:url(../images/btn_48_ico_left_d.png) no-repeat left top;background-size:cover;}
.control-btn .control-next {width:48px;height:48px;background:url(../images/btn_48_ico_right_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;}
.control-btn .control-next:hover {background:url(../images/btn_48_ico_right_p.png) no-repeat left top;background-size:cover;}
.control-btn .control-next.disabled {background:url(../images/btn_48_ico_right_d.png) no-repeat left top;background-size:cover;}
.control-btn.smal .control-prev {width:40px;height:40px;background-image:url(../images/btn_40_ico_left_n.png);}
.control-btn.smal .control-prev:hover {width:40px;height:40px;background-image:url(../images/btn_40_ico_left_p.png);}
.control-btn.smal .control-prev.disabled {width:40px;height:40px;background-image:url(../images/btn_40_ico_left_d.png);}
.control-btn.smal .control-next {width:40px;height:40px;background-image:url(../images/btn_40_ico_right_n.png);}
.control-btn.smal .control-next:hover {width:40px;height:40px;background-image:url(../images/btn_40_ico_right_p.png);}
.control-btn.smal .control-next.disabled {width:40px;height:40px;background-image:url(../images/btn_40_ico_right_d.png);}

.stop {width:20px;height:20px;background:url(../images/btn_20_ico_pause_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;}
.stop:hover {background:url(../images/btn_20_ico_pause_p.png) no-repeat left top;background-size:cover;}
.stop.disabled {background:url(../images/btn_20_ico_pause_d.png) no-repeat left top;background-size:cover;}
.play {width:20px;height:20px;background:url(../images/btn_20_ico_play_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;}
.play:hover {background:url(../images/btn_20_ico_play_p.png) no-repeat left top;background-size:cover;}
.play.disabled {background:url(../images/btn_20_ico_play_d.png) no-repeat left top;background-size:cover;}

.search-btn {width:40px;height:40px;background:url(../images/btn_40_ico_search_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;}
.search-btn:hover {background:url(../images/btn_40_ico_search_p.png) no-repeat left top;background-size:cover;}
.search-btn.gnb {background: url(../images/btn_24_icon_search_p.png) center no-repeat;background-size: 24px 24px;}
.search-btn.disabled {background:url(../images/btn_40_ico_search_d.png) no-repeat left top;background-size:cover;}

.menu-btn {width:40px;height:40px;background:url(../images/btn_24_icon_menu_p.png) no-repeat center;background-size:24px;border:none;font-size:0;}

.btn-close {width:44px;height:44px;background:url(../images/btn_44_ico_close_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;}
.btn-close:hover {background:url(../images/btn_44_ico_close_p.png) no-repeat left top;background-size:cover;}
.btn-close.disabled {background:url(../images/btn_44_ico_close_d.png) no-repeat left top;background-size:cover;opacity: 1;}

.tag {padding: 3px 16px;border-radius: 20px;border: solid 1px #ccc;background-color: #e8e8e8;color:#707172;font-size:16px;}
.tag + .tag {margin-left:8px;}
.tag:hover {border: solid 1px #ee8508;background-color: #fff;color:#101314;}
.tag.disabled {border: solid 1px #cfd0d0;background-color: #e8e8e8;color:#cfd0d0;}

.pc-tab {width:100%;}
.pc-tab li {position:relative;}
.pc-tab li + li {margin-left:24px;}
.pc-tab li .nav-link {padding: 4px 19px 24px;background:#fff;border:none;color: #968f8f;font-size:18px;}
.pc-tab li button::after {content: ""; background: #ff7f00; height: 4px; position: absolute; width: 100%; left: 0px; bottom: 0px; transition: all 250ms ease 0s; transform: scale(0);}
.pc-tab li .active {color:#ee8508;}
.pc-tab li button:hover::after,
.pc-tab li .active::after {transform: scale(1);}
.pc-tab li .nav-link:disabled {color:#cfd0d0;}
.pc-tab li .nav-link:disabled::after {content:"";background:#fff;}

.mo-tab {width:100%;}
.mo-tab li + li {margin-left:8px;}
.mo-tab li .nav-link {padding:10px 20px;border-radius: 18px;background-color: #cfd6de;border:none;color: #788ba0;font-size:14px;}
.mo-tab li button:hover,
.mo-tab li .active {background:#101314;color:#fff;}
.mo-tab li .nav-link:disabled {background-color: #e8e8e8;color:#cfd0d0;}

.tab-switch {display:inline-flex;padding: 3px;border-radius: 10px;border: solid 1px rgba(112, 112, 112, 0.13);background-color: #e6e6e6;}
.tab-switch:hover {padding:2px;border:2px solid #1a1a1a;}
.tab-switch li .nav-link {padding: 11px 16px;border-radius: 6px;background:transparent;border:none;color:#646464;font-size:16px;}
.tab-switch li .active {padding: 11px 16px;border-radius: 6px;box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);background-color: #383838;color:#fff;}

.form-checkbox .form-check-label {font-size:12px;}
.form-checkbox .form-check-label + .form-check-input {margin-left:10px;}
.form-checkbox .form-check-input + .form-check-label {margin-left:10px;}
.form-checkbox .form-check-input {width:20px;height:20px;background:url(../images/checkbox_20_n.png) no-repeat left top;background-size:cover;border:none;}
.form-checkbox .form-check-input:checked[type=checkbox] {background-image: url(../images/checkbox_20_s.png);background-size:cover;}
.form-checkbox .form-check-input:checked {background:none;border:none;}
.form-checkbox .form-check-input.press {background:url(../images/checkbox_20_n_p.png) no-repeat left top;background-size:cover;}
.form-checkbox .form-check-input.press:checked[type=checkbox] {background-image: url(../images/checkbox_20_s_p.png);background-size:cover;}

/* 4.6 version */
.custom-checkbox .custom-control-label {font-size:15px;}
.custom-checkbox .custom-control-label::before {top:0.15rem;width:20px;height:20px;background:url(../images/checkbox_20_n.png) no-repeat left top;background-size:cover;border:none;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    width:20px;
    height:20px;
    background: url(../images/checkbox_20_s.png) no-repeat left top;
    background-size:cover;
    border:none;
}
.custom-checkbox .custom-control-input:disabled~.custom-control-label::before, .custom-control-input[disabled]~.custom-control-label::before {
    background:url(../images/checkbox_20_d.png) no-repeat left top;background-size:cover;border:none;
}
.custom-checkbox .custom-control-input:focus~.custom-control-label::before {box-shadow:none;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {background:none;}

.custom-radio .custom-control-label {font-size:15px;}
.custom-radio .custom-control-label::before {top:0.15rem;width:20px;height:20px;background:url(../images/radiobutton_20_n.png) no-repeat left top;background-size:cover;border:none;}
.custom-radio .custom-control-input:checked~.custom-control-label::before {width:20px;height:20px;background:url(../images/radiobutton_20_p.png) no-repeat left top;background-size:cover;border:none;color:unset;}
.custom-radio .custom-control-input:checked~.custom-control-label::after {background:none;}

.select .dropdown-toggle {position:relative;min-width:110px;padding: 10px 12px;border-radius: 8px;border: solid 1px #d8d8d8;background-color: #fff;text-align:left;}
.select .dropdown-toggle::after {content:"";position:absolute;top:50%;right:10px;width:16px;height:16px;margin-top:-7px;background:url(../images/ico_16_drop_n.png) no-repeat left top;background-size:cover;border:none;vertical-align:baseline;}
.select.show .dropdown-toggle::after {transform: rotate(-180deg);}
.select .dropdown-menu {min-width:110px;padding:6px 8px 8px 12px;}
.select .dropdown-menu li {padding-right:4px;}
.select .dropdown-menu li:first-child a {border-top:none;}
.select .dropdown-menu li a {display:block;padding:8px 0;border-top:1px solid #e8e8e8;color:#000;font-size:14px;}
.select .dropdown-menu ul {overflow-y:scroll;height:150px;}
.select .dropdown-menu ul::-webkit-scrollbar {width: 2px;}
.select .dropdown-menu ul::-webkit-scrollbar-thumb {background-color: #b8b9b9;}
.select .dropdown-menu ul::-webkit-scrollbar-track {background-color: transparent;}

.icon-rural {position:relative;padding-left:32px;color:#1a1a1a;font-size:14px;line-height:24px;}
.icon-rural::after {content:"";position:absolute;top:0;left:0;width:24px;height:24px;background:url(../images/icon_24_poi_life.png) no-repeat left top;background-size:cover;}
.icon-farmland {position:relative;padding-left:32px;color:#1a1a1a;font-size:14px;line-height:24px;}
.icon-farmland::after {content:"";position:absolute;top:0;left:0;width:24px;height:24px;background:url(../images/icon_24_poi_info.png) no-repeat left top;background-size:cover;}
.icon-emptyhouse {position:relative;padding-left:32px;color:#1a1a1a;font-size:14px;line-height:24px;}
.icon-emptyhouse::after {content:"";position:absolute;top:0;left:0;width:24px;height:24px;background:url(../images/icon_24_poi_house.png) no-repeat left top;background-size:cover;}
.icon-education {position:relative;padding-left:32px;color:#1a1a1a;font-size:14px;line-height:24px;}
.icon-education::after {content:"";position:absolute;top:0;left:0;width:24px;height:24px;background:url(../images/icon_24_poi_educatio.png) no-repeat left top;background-size:cover;}
.icon-health {position:relative;padding-left:32px;color:#1a1a1a;font-size:14px;line-height:24px;}
.icon-health::after {content:"";position:absolute;top:0;left:0;width:24px;height:24px;background:url(../images/icon_24_poi_welfare.png) no-repeat left top;background-size:cover;}
.icon-job {position:relative;padding-left:32px;color:#1a1a1a;font-size:14px;line-height:24px;}
.icon-job::after {content:"";position:absolute;top:0;left:0;width:24px;height:24px;background:url(../images/icon_24_poi_work.png) no-repeat left top;background-size:cover;}


