@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
font-family: "Noto Sans CJK KR";
font-weight: 100;
font-style: normal;
src: url("../fonts/NotoSans-Thin.eot?") format("eot"),
url("../fonts/NotoSans-Thin.otf") format("opentype"),
url("../fonts/NotoSans-Thin.woff") format("woff"),
url("../fonts/NotoSans-Thin.woff2") format("woff2");
}

@font-face {
font-family: "Noto Sans CJK KR";
font-weight: 300;
font-style: normal;
src: url("../fonts/NotoSans-Light.eot?") format("eot"),
url("../fonts/NotoSans-Light.otf") format("opentype"),
url("../fonts/NotoSans-Light.woff") format("woff"),
url("../fonts/NotoSans-Light.woff2") format("woff2");
}

@font-face {
font-family: "Noto Sans CJK KR";
font-weight: 400;
font-style: normal;
src: url("../fonts/NotoSans-Regular.eot?") format("eot"),
url("../fonts/NotoSans-Regular.otf") format("opentype"),
url("../fonts/NotoSans-Regular.woff") format("woff"),
url("../fonts/NotoSans-Regular.woff2") format("woff2");
}

@font-face {
font-family: "Noto Sans CJK KR";
font-weight: 500;
font-style: normal;
src: url("../fonts/NotoSans-Medium.eot?") format("eot"),
url("../fonts/NotoSans-Medium.otf") format("opentype"),
url("../fonts/NotoSans-Medium.woff") format("woff"),
url("../fonts/NotoSans-Medium.woff2") format("woff2");
}

@font-face {
font-family: "Noto Sans CJK KR";
font-weight: 700;
font-style: normal;
src: url("../fonts/NotoSans-Bold.eot?") format("eot"),
url("../fonts/NotoSans-Bold.otf") format("opentype"),
url("../fonts/NotoSans-Bold.woff") format("woff"),
url("../fonts/NotoSans-Bold.woff2") format("woff2");
}

@font-face {
font-family: "DXMgoB";
font-weight: 700;
font-style: normal;
src: url("../fonts/DXMgoB-KSCpc-EUC-H.eot?") format("eot"),
url("../fonts/DXMgoB-KSCpc-EUC-H.ttf") format("truetype"),
url("../fonts/DXMgoB-KSCpc-EUC-H.woff") format("woff"),
url("../fonts/DXMgoB-KSCpc-EUC-H.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 800;
    src: local("NanumSquareRoundEB"), /* computer */
      url("../fonts/NanumSquareRoundEB.eot"), /* IE9 Compat Modes */
      url("../fonts/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/NanumSquareRoundEB.woff2") format("woff2"), /* Modern Browsers */
      url("../fonts/NanumSquareRoundEB.woff") format("woff"), /* Modern Browsers */
      url("../fonts/NanumSquareRoundEB.ttf") format("truetype"); /* Safari, Android, iOS */
  }
  

a,a:hover{ text-decoration: none;}

body{font-family: "Noto Sans CJK KR";font-weight: 400;color:#101314;}
.bg01{background-color: #cbcbcb;}

@media (min-width: 1400px){}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
    padding: 0;
}

.block,.show {display: block !important;}
.hide {display: none !important;}

/* icons */
.ico {display: inline-block;vertical-align: middle;}
.ico.epis {width:34px;height: 20px;background:url(../images/ico_epis.png);background-size: cover;}
.ico.donong {width:20px;height: 20px;background:url(../images/ico_donong.png);background-size: cover;}
.ico.facebook {width:20px;height: 20px;background:url(../images/ico_facebook.png);background-size: cover;}
.ico.twitter {width:20px;height: 20px;background:url(../images/ico_twitter.png);background-size: cover;}
.ico.kakaotalk {width:20px;height: 20px;background:url(../images/ico_kakao.png);background-size: cover;}
.ico.logout {width:12px;height: 12px;background:url(../images/btn_12_logout_white_n.png);background-size: cover;}
.ico.login {width:12px;height: 12px;background:url(../images/btn_16_login_blak_d.png);background-size: cover;}
.ico.join {width:14px;height: 14px;background:url(../images/btn_16_join_black_d.png);background-size: cover;}

.slice {display: inline-block;width:1px;height:10px;background-color: #999;margin:0 5px 0 8px;opacity: 0.3;}

/* header */
header .util{
background-color: #101314;
color: #b2b2b2;
display: flex;
justify-content: space-between;
height:44px;
padding:0 24px;
align-items: center;
font-size: 11px;
}
header .util .link{
display: flex;
align-items: center;
letter-spacing: -0.18px;
}
header .util .link a{
text-decoration: none;
color:#b2b2b2;
font-weight: 300;
}
header .util .link li {margin-right: 10px;}
header .util .link li .epis,
header .util .link li .donong{margin-right: 3px;margin-top: -2px;}
header .util .link li:nth-child(2){margin-right: 13px;}
header .util .setting{
display: flex;
font-weight: 100;
color: #fff;
}
header .util .setting li {margin-left: 20px;}
header .util .setting a{
    color: #fff;
}
header .util .setting .before a{
    color:#b2b2b2;
}
header .util .setting a .ico{
    margin-top: -2px;
    margin-right: 3px;
}
header .util .dropdown .dropdown-toggle{
    padding: 3px 8px 3px;
    color:#fff;
    font-size: 12px;
    border: 1px solid rgba(255,255,255,.36);
    letter-spacing: -0.36px;
    border-radius: 2px;
}
.gnb {background-color: #fff;}
.gnb > ul{display: flex;width:100%;height: 64px;padding:0 24px;justify-content: space-between;align-items: center;}
.gnb > ul li {display: flex;}
.gnb > ul li .logo {display: block;width:153px;height:27px;background: url(../images/img_logo_top_black.png);background-size: cover;vertical-align: middle;}

.gnb_menu_list li {margin-left: 32px;font-size: 18px;}
.gnb_menu_list li:first-of-type{margin-left: 0;}
.gnb_menu_list a {color:#101314}
.gnb_menu_list .living a{display: block;padding:5px 29px 5px 14px;color:#59a530;border:1px solid #59a530;border-radius: 30px;background:url(../images/ico_arrow_living.png) no-repeat 93% center;background-size: 16px auto;font-size: 15px;}
.gnb.trans {background-color: transparent;border-bottom: 1px solid rgba(255,255,255,.2);}
.gnb.trans ul li .logo {background-image: url(../images/img_logo_top_white.png);}
.gnb.trans .gnb_menu_list a {color:#fff;}
.gnb.trans .search-btn {background-image: url(../images/btn_24_icon_search_n.png);}
.gnb.trans .menu-btn {background-image: url(../images/btn_24_icon_menu_n.png);}
.gnb.trans.no_bdr {border-bottom: 0;}
.gnb.trans .gnb_menu_list .living a {color:#94eb32;border-color:#94eb32;background-image: url(../images/btn_16_arrow_green_n.png);}
.gnb.trans.black ul li .logo{background-image: url(../images/img_logo_top_black.png);}
.gnb.trans.black .gnb_menu_list a {color:#101314}

.tit_sub {display: inline-block; margin-left: 5px;height:30px;line-height:30px;padding:0 6px;background-color: #fff;color:#37464b;border-radius: 4px;font-size: 19px;font-family: 'NanumSquare';font-weight: 700}
.tit_sub.black {background-color: #101314;color:#fff;}
.tit_sub.gray {background-color:#4e5658;color:#fff;}
.tit_sub.outlined {background-color: transparent;border:1px solid #4e5658;color:#4e5658;}


/* footer */
footer .inner{
    position: relative;
    display: flex;
    padding:49px 0 60px;
}
footer .inner .logo img{
    width:153px;
    vertical-align: middle;
}
footer .inner .logo .region{
    display: inline-block;
    min-width:78px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    padding: 0 6px;
    background-color: #4e5658;
    color:#fff;
    font-family: 'NanumSquare';
    font-weight: 700;
    border-radius: 3px;
    vertical-align: middle;
}
footer .link{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin-left: 32px;
}
footer .link a {color:#101314}
footer .link li {position: relative;margin-right: 10px;padding-right: 10px;font-size: 15px;}
footer .link li:after{content:"";position: absolute;right:-1px;top:6px;width:1px;height:12px;background:#101314;opacity: 0.3;}
footer .link li:last-of-type:after{display: none;}
footer .address {margin-top: 12px;margin-left: 32px;font-size: 12px;color:#888282}
footer .address li{line-height: 18px;}
footer .address li:nth-child(2){margin-top:6px;color:#999;font-weight: 200;}
footer .cooperation{position: absolute;right: 0;}
footer .cooperation ul {display: flex;
flex-direction: row;}
footer .cooperation ul li{margin-left: 26px;}
footer .cooperation ul img{height: 46px;}
@media only screen and (max-width: 768px) {
    footer .inner{flex-direction: column;}
    footer .link {margin-left: 0;margin-top: 24px;}
    footer .address{margin-left: 0;}
    footer .cooperation {position: static;border-top: 1px solid #cacaca;margin-top: 20px;padding-top: 20px;}
    footer .cooperation ul li:first-of-type {margin-left: 0;}
}