/* main */
.map .kangwon {display:block;}
.rflg-bg {position:relative;height:947px;background:url(../images/img_main_rflg.jpg) no-repeat left top;background-size:cover;}

.rflg-bg .lg_info .select_box {position:relative;height:auto;padding-top:109px;}
.rflg-bg .lg_info .select_box h4 {color:#101314;font-size:20px;font-weight:bold;}
.rflg-bg .lg_info .select_box p {color:#101314;font-size:16px;line-height:1.5;}
.rflg-bg .lg_info .select_box .btn-center {margin-top:24px;}
.rflg-bg .select-wrap {position:absolute;top:0;left:0;right:0;display:flex;align-items:center;height:84px;padding-left:32px;border-bottom:1px solid #f2f2f2;}
.rflg-bg .select-wrap .select + .select,
.rflg-bg .select-wrap .search-btn {margin-left:6px;}
.rflg-bg .map .kangwon {margin-top:0;}

.settlement_step4.life {position:relative;margin-top:-165px;background:none;}
.settlement_step4.life li.step1 {background-image:url(../images/main/img_step1.png);}
.settlement_step4.life li.step2 {background-image:url(../images/main/img_step2.png);}
.settlement_step4.life li.step3 {background-image:url(../images/main/img_step3.png);}
.settlement_step4.life li.step4 {background-image:url(../images/main/img_step4.png);}
.settlement_step4 li.step1,
.settlement_step4 li.step2,
.settlement_step4 li.step3 {position:relative;}
.settlement_step4 li.step1::after,
.settlement_step4 li.step2::after,
.settlement_step4 li.step3::after {content:"";position:absolute;top:0;right:-20px;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/main/ico_arrow_step.png) no-repeat left top;background-size:cover;}


.map-info .map {position:relative;width:1920px;margin:48px auto 0;}
.map-info .map .layer-wrap {position:absolute;top:20px;left:20px;}
.map-info .map .layer {position:relative;z-index: 2;width:282px;padding:16px;background-color:#fff;border:1px solid #4d4b4b;border-radius:12px;box-shadow:0 2px 24px  rgba(0,0,0,0.07);}
.map-info .map .l-img {overflow:hidden;width:250px;height:186px;}
.map-info .map .l-img img {width:100%;height:auto;}
.map-info .map .layer > strong {display:block;margin-top:10px;color:#101314;font-size:18px;font-weight:500;}
.map-info .map .layer > p {display:block;color:#848484;font-size:14px;font-weight:500;line-height:1.43;}
.map-info .map .layer > .price {margin-top:14px;color:#e30000;font-size:20px;font-weight:bold;}
.map-info .map .layer > .btn-detail {width:100%;margin-top:23px;padding:11px 0;border:1px solid rgba(16,19,20,0.3);border-radius:4px;}
.map-info .map .layer-wrap .layer-close {position:absolute;top:0;right:-34px;z-index:1;width:44px;height:34px;background-color:#4d4b4b;border-radius:3px;}
.map-info .map .layer-wrap .layer-close .close {font-size:0;line-height:0;}
.map-info .map .layer-wrap .layer-close .close::after {content:"";position:absolute;top:0;right:8px;bottom:0;margin:auto;width:20px;height:20px;background:url(../images/main/ico_20_close_n.png) no-repeat left top;background-size:cover;}
.map-info .map .full {position:absolute;top:20px;right:20px;}
.map-info .map .map-size {position:absolute;bottom:20px;right:20px;}
.map-info .map .house-info {position:absolute;left:0;bottom:20px;right:0;text-align:center;}
.map-info .map .house-info button {position:relative;padding:8px 12px 8px 44px;background-color:#fff;border:1px solid #fff;border-radius:20px;}
.map-info .map .house-info .farmland::after {content:"";position:absolute;top:0;left:12px;bottom:0;margin:auto;width:24px;height:24px;background:url(../images/main/img_poi_life_map.png) no-repeat left top;background-size:cover;}
.map-info .map .house-info .vacant-house::after {content:"";position:absolute;top:0;left:12px;bottom:0;margin:auto;width:24px;height:24px;background:url(../images/main/img_poi_house_map.png) no-repeat left top;background-size:cover;}

.map-info .swiper-container {position:relative;width:1200px;margin:48px auto 0;}
.map-info .swiper {padding-bottom:47px;}
.map-info .swiper-slide li {position:relative;display:flex;flex-wrap:wrap;height:180px;padding:16px 24px;background-color:#fff;border-radius:20px;box-shadow:0 2px 10px rgba(129,145,45,0.15);}
.map-info .swiper-slide li + li {margin-top:24px;}
.map-info .swiper-slide .m-img {position:absolute;top:0;left:0;overflow:hidden;width:148px;height:148px;}
.map-info .swiper-slide .m-img img {width:100%;height:auto;}
.map-info .swiper-slide .m-txt {position:relative;width:100%;padding-left:168px;}
.map-info .swiper-slide .m-txt .label-o {background:rgba(238,133,8,0.2);border-radius:3px;padding:2px 4px;color:#ee8508;font-size:12px;}
.map-info .swiper-slide .m-txt .label-g {background:rgba(25,132,95,0.2);border-radius:3px;padding:2px 4px;color:#19845f;font-size:12px;}
.map-info .swiper-slide .m-txt > strong {display:block;margin-top:6px;color:#000;font-size:18px;font-weight:500;}
.map-info .swiper-slide .m-txt > p {margin-top:4px;color:#848484;font-size:14px;font-weight:500;}
.map-info .swiper-slide .m-txt > .price {position:absolute;bottom:20px;right:24px;color:#e30000;font-size:24px;font-weight:bold;}


.experience {padding:100px 0;background:url(../images/img_bgbottom_experience.jpg) no-repeat center; background-size:cover;}
.experience .inner {width:1296px;margin:auto;}
.experience h3 {margin-left:12px;color:#fff;font-size:38px;font-family:'NanumSquareRound';line-height:1;text-align:left;}
.experience .inner > p {margin:16px 0 0 12px;color:#fff;font-size:18px;font-family:'NotoSansCJKkr';line-height:1;}

.skillup-notice {margin-top:48px;}
.skillup-notice .col-6 {padding:0 12px;}
.skillup-notice .opacity-box {padding:20px 24px 28px;background-color:rgba(255,255,255,0.3);box-shadow:0 3px 6px 0 rgba(0,0,0,0.16);border-radius:12px;}
.skillup-notice .opacity-box > p {color:#fff;font-size:18px;line-height:1.61;letter-spacing:0.18px;}
.skillup-notice .opacity-box .step-wrap {margin-top:24px;}
.skillup-notice .opacity-box .step-wrap .col-4 {padding:0;}
.skillup-notice .opacity-box .step-wrap .col-4 + .col-4 {padding-left:28px;}
.skillup-notice .opacity-box .step-wrap .col-4 + .col-4::after {content:"";position:absolute;top:0;left:0;bottom:0;width:1px;height:72px;background:rgba(255,255,255,0.2);}
.skillup-notice .opacity-box .step-wrap .col-4 > p {margin-top:6px;color:#fff;font-size:14px;line-height:1.43;letter-spacing:-0.42px;}
.skillup-notice .opacity-box .step-wrap .step {height:26px;padding:3px 8px;background:#70b949;border-radius:14px;color:#fff;font-size:14px;letter-spacing:-0.14px;}
.skillup-notice .notice-box {position:relative;padding:20px;background-color:#fff;box-shadow:0 3px 6px 0 rgba(0,0,0,0.16);border-radius:12px;}



.notice-tab {border-bottom:1px solid #e8e8e8;}
.notice-tab .nav-link {background:none;border:none;}
.notice-tab .nav-link.active {color:#101314;font-weight:bold;}
.notice-tab li {position:relative;}
.notice-tab li + li {margin-left:28px;}
.notice-tab li .nav-link {padding:0 0 10px 0;background:#fff;border:none;color: #968f8f;font-size:16px;line-height:1.5;}
.notice-tab li button::after {content: ""; background: #32936a; height: 2px; position: absolute; width: 100%; left: 0px; bottom: 0px; transition: all 250ms ease 0s; transform: scale(0);}
.notice-tab li .active {color:#282b2c;font-weight:bold;}
.notice-tab li button:hover::after,
.notice-tab li .active::after {transform: scale(1);}

.notice-com-list li {margin-top:14px;display:flex;justify-content: space-between;}
.notice-com-list li a {color:#282b2c;font-size:14px;line-height:1.3;letter-spacing:-0.14px;}
.notice-com-list li .date {color:#88898a;font-size:13px;line-height:1;letter-spacing:-0.39px;}

.area-community {padding:100px 0 84px;background:#fff1e0;}
.area-community h3 {color:#101314;font-size:40px;font-family:'NanumSquareRound';line-height:1;text-align:center;}
.area-community h3 strong {color:#ee8508;}
.area-community > p {margin-top:16px;color:#282b2c;font-size:18px;text-align:center;}
.area-community .swiper-container {width:1200px;margin:48px auto 0;}
.area-community .swiper-container .swiper {padding-bottom:47px;}
.area-community .swiper-container .swiper-slide {padding:24px;background:#fff;border-radius:20px;}

.user-commnt-wrap {position:relative;padding-right:202px;}
.user-commu > strong {display:block;margin-top:16px;color:#101314;font-size:16px;font-weight:500;}
.user-commu > p {margin-top:8px;color:#101314;font-size:15px;line-height:1.47;}
.user-info {position:relative;padding-left:57px;}
.user-info .u-img {position:absolute;top:0;left:0;overflow:hidden;width:49px;height:49px;border-radius:50%;}
.user-info .u-name {display:block;margin-top:3px;color:#101314;font-size:14px;}
.user-info .u-date {display:block;margin-top:4px;color:#848484;font-size:14px;}
.user-img {position:absolute;top:0;right:0;overflow:hidden;width:178px;height:178px;margin-left:24px;border-radius:4px;}
.user-img img {width:100%;height:auto;}

.view-like {display:flex;margin-top:16px;}
.view-like .view-num {position:relative;padding-left:24px;color:#88898a;font-size:14px;font-weight:500;}
.view-like .view-num::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:20px;height:20px;background:url(../images/ico_20_view_n.png) no-repeat left top;background-size:cover;}
.view-like .like-num {position:relative;margin-left:16px;padding-left:24px;color:#88898a;font-size:14px;font-weight:500;}
.view-like .like-num::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:20px;height:20px;background:url(../images/ico_20_like_n.png) no-repeat left top;background-size:cover;}

.we-writer {padding:100px 0 220px;background:url(../images/img_bg_writer.png) no-repeat center bottom;background-size:contain;}
.we-writer h3 {color:#101314;font-size:40px;font-family:'NanumSquareRound';line-height:1;text-align:center;}
.we-writer h3 strong {color:#ee8508;}
.we-writer > p {margin-top:16px;color:#282b2c;font-size:18px;text-align:center;}
.we-writer .swiper-container {position:relative;width:1296px;margin:48px auto 0;}
.we-writer .swiper {width:1200px;padding-bottom:47px;}
.we-writer .swiper-slide {background:#fff;border-radius:20px;box-shadow:0 2px 8px 0 rgba(0,0,0,0.1);}
.we-writer .we-img {position:relative;}
.we-writer .we-img > span {position:absolute;left:16px;bottom:14px;padding:2px 24px 2px 4px;background:rgba(232,232,232,0.9);border-radius:3px;color:#585a5b;font-size:12px;}
.we-writer .we-img > span::after {content:"";position:absolute;top:0;right:4px;bottom:0;margin:auto;width:16px;height:16px;}
.we-writer .we-img .txt-attr::after {background:url(../images/main/img_tag_field.png) no-repeat left top;background-size:cover;}
.we-writer .we-img .txt-life::after {background:url(../images/main/img_tag_shovel.png) no-repeat left top;background-size:cover;}
.we-writer .we-img .txt-scene::after {background:url(../images/main/img_tag_location.png) no-repeat left top;background-size:cover;}
.we-writer .we-txt {padding:20px 20px 65px;}
.we-writer .we-txt > strong {color:#101314;font-size:16px;font-weight:500;line-height:1;}
.we-writer .we-txt > p {margin-top:8px;color:#101314;font-size:14px;line-height:1.43;}
.name-area {display:flex;margin-top:4px;}
.name-area li {color:#88898a;font-size:14px;font-weight:500;}
.name-area li + li {position:relative;margin-left:6px;padding-left:6px;}
.name-area li + li::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:2px;height:2px;background:#88898a;}

.viewlike-date {position:absolute;left:0;bottom:0;right:0;display:flex;justify-content:space-between;align-items:center;height:44px;padding:0 20px;border-top:1px solid #f2f2f2;}
.viewlike-date .view-like {margin-top:0;}
.viewlike-date .we-date {color:#848484;font-size:14px;font-weight:500;}

/* 홍보 */
.video {padding:100px 0;background-color:#f9faf4;}
.video > p {margin-top:16px;color:#282b2c;font-size:18px;text-align:center;}
.video .inner {position:relative;width:1200px;margin:48px auto 0;}
.video .btn-icon-more {position:absolute;top:0;right:0;}
.video .video-wrap {padding-top:43px;display:flex;flex-wrap: wrap;justify-content:space-between;}
.video .video-wrap .video-big {position:relative;overflow:hidden;width:798px;border-radius:20px;}
.video .video-wrap .video-big img {width:100%;height:449px;height:auto;}
.video .video-wrap .video-smal li {position:relative;overflow:hidden;width:384px;height:216px;border-radius:20px;}
.video .video-wrap .video-smal li img {width:100%;height:auto;}
.video .video-wrap .video-smal li + li {margin-top:17px;}
.video .video-wrap .player-btn {position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;display:flex;align-items:center;justify-content:center;}


