.main_info{
    height:901px;
    background: url(../images/img_bg_main.jpg) center;
    background-size: cover;
}
.lg_info {
    margin-top: 100px;
    display: flex;
}
.lg_info .select h3{
    font-size: 44px;
    font-family: 'NanumSquareRound';
    color:#fff;
    text-align: left;
}
.lg_info .select p{
    line-height: 27px;
    font-size: 18px;
    color:#fff;
}
.lg_info .select_box{
    width:588px;
    height:431px;
    margin-top: 48px;
    padding:32px;
    background-color: #fff;
    border-radius: 20px;
}
.lg_info .select_box h4{
    font-size: 20px;
}
.lg_info .select_box p{
    margin-top: 12px;
    color:#101314;
    font-size: 16px;
    word-break: keep-all;
}
.lg_info .select_box .citys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:8px;
    margin-top:32px;
}
.lg_info .select_box .infos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:8px;
    margin-top:32px;
}
.lg_info .select_box .btn_back{
    padding-left: 32px;
    background: url(../images/btn_20_icon_mo_n.png) no-repeat left center;
    background-size: 24px auto;
}
.lg_info .btn {
    font-weight: 500;
}

.map ul{position: relative;}
.map li {position: absolute;background-repeat: no-repeat;}
.map li .pointer{position: absolute;display:block;width:32px;height: 32px;left:50%;top:50%;transform: translate(-50%,55%);}
.map li .pointer:before{content:"";position: absolute;left:50%;top:50%;display: block;width:18px;height: 18px;border-radius: 100%;background-color: rgba(238,141,26,0.8);transform: translate(-50%,-50%);}
.map li .pointer:after{content:"";position: absolute;left:50%;top:50%;display: block;width:32px;height: 32px;margin:-16px 0 0 -16px;border-radius: 100%;background-color: rgba(238,141,26,0.2);animation: circle 1s infinite;}
.map li:hover .pointer:before{background-color: rgba(255,255,255,0.8);}
.map li:hover .pointer:after{background-color: rgba(255,255,255,0.2);}
.map li a:first-of-type {position: absolute;opacity: 0;min-width:95px;padding:4px 15px;background-color: #fff;border-radius: 16px;font-weight: 700;color:#101314;left:50%;top:50%;transform: translate(-50%,-50%);border:1px solid #000;text-align: center;transition: 0.5s all;}
.map li:hover a{opacity: 1;}
.map .all{width:358px;height:574px;margin:57px 0 0 212px;}
.map .all .gangwon{right:15px;top:0;width:204px;height: 194px;background-image: url(../images/map/map_kr_kangwon.png);background-size: 204px 194px;}
.map .all .gangwon:hover{background-image: url(../images/map/map_kr_kangwon_on.png);}
.map .all .gangwon a:first-of-type {transform: translate(-40%,-100%);min-width: 70px;}
.map .all .gangwon .pointer {transform: translate(-20%,0%);}
.map .all .kyungki{left:79px;top:31px;width:120px;height: 164px;background-image: url(../images/map/map_kr_kyungki.png);background-size: 120px 164px;}
.map .all .kyungki:hover{background-image: url(../images/map/map_kr_kyungki_on.png);}
.map .all .kyungki a:first-of-type {transform: translate(-30%,-100%);min-width: 80px;}
.map .all .kyungki .pointer {transform: translate(10%,0%);}
.map .all .chungnam_p{left:30px;top:174px;width:136px;height: 135px;background-image: url(../images/map/map_kr_chungnam.png);background-size: 136px 135px;}
.map .all .chungnam_p:hover{background-image: url(../images/map/map_kr_chungnam_on.png);}
.map .all .chungnam_p a:first-of-type {transform: translate(-65%,-180%);}
.map .all .chungnam_p .pointer {transform: translate(-90%,-80%);}
.map .all .chungbuk_p{left:138px;top:162px;width:135px;height: 145px;background-image: url(../images/map/map_kr_chungbuk.png);background-size: 135px 145px;}
.map .all .chungbuk_p:hover{background-image: url(../images/map/map_kr_chungbuk_on.png);}
.map .all .chungbuk_p a:first-of-type {transform: translate(-75%,-260%);}
.map .all .chungbuk_p .pointer {transform: translate(-115%,-160%);}
.map .all .gyeungnam{right:0;top:184px;width:169px;height: 186px;background-image: url(../images/map/map_kr_gyeungnam.png);background-size: 169px 186px;}
.map .all .gyeungnam:hover{background-image: url(../images/map/map_kr_gyeungnam_on.png);}
.map .all .gyeungnam a:first-of-type {transform: translate(-30%,-180%);}
.map .all .gyeungnam .pointer {transform: translate(10%,-80%);}
.map .all .gyeungbuk{right:16px;bottom:100px;width:188px;height: 149px;background-image: url(../images/map/map_kr_gyeongbuk.png);background-size: 188px 149px;}
.map .all .gyeungbuk:hover{background-image: url(../images/map/map_kr_gyeongbuk_on.png);}
.map .all .gyeungbuk a:first-of-type {transform: translate(-70%,-180%);}
.map .all .gyeungbuk .pointer {transform: translate(-120%,-80%);}
.map .all .junnam{left:46px;top:287px;width:145px;height: 104px;background-image: url(../images/map/map_kr_junnam.png);background-size: 145px 104px;}
.map .all .junnam:hover{background-image: url(../images/map/map_kr_junnam_on.png);}
.map .all .junnam a:first-of-type {transform: translate(-40%,-180%);}
.map .all .junnam .pointer {transform: translate(-20%,-80%);}
.map .all .junbuk{left:0;top:367px;width:169px;height: 134px;background-image: url(../images/map/map_kr_junbuk.png);background-size: 169px 134px;}
.map .all .junbuk:hover{background-image: url(../images/map/map_kr_junbuk_on.png);}
.map .all .junbuk a:first-of-type {transform: translate(-20%,-180%);}
.map .all .junbuk .pointer {transform: translate(30%,-80%);}
.map .all .jeju{left:3px;bottom:0;width:77px;height: 36px;background-image: url(../images/map/map_kr_jeju.png);background-size: 77px 36px;}
.map .all .jeju:hover{background-image: url(../images/map/map_kr_jeju_on.png);}
.map .all .jeju a:first-of-type {transform: translate(-50%,-145%);}
.map .all .jeju .pointer {transform: translate(-50%,-45%);}
.map .all .seoul{left:101px;top:100px;width:36px;height: 30px;background-image: url(../images/map/map_kr_seoul.png);background-size: 36px 30px;}
.map .kangwon {display:none;width:537px;height:490px;margin:93px 0 0 75px;}
.map .kangwon li a {opacity: 1;border-color: #ccc;color:#5b666a;padding: 3px 5px;min-width: 68px;background-color: #e8e8e8;}
.map .kangwon li:hover a{border-color: #ee8508;color: #1a1a1a; }
.map .kangwon .cheolwon {left:0;top:64px;width:200px;height:78px;background-image: url(../images/map/map_gangwon_cheolwon.png);background-size: cover;}
.map .kangwon .cheolwon a {transform: translate(-110%,-70%);}
.map .kangwon .cheolwon.on,
.map .kangwon .cheolwon:hover {background-image: url(../images/map/map_gangwon_cheolwon_on.png);}
.map .kangwon .whacheon {left:86px;top:87px;width:112px;height:87px;background-image: url(../images/map/map_gangwon_whacheon.png);background-size:cover;}
.map .kangwon .whacheon.on,
.map .kangwon .whacheon:hover {background-image: url(../images/map/map_gangwon_whacheon_on.png);}
.map .kangwon .whacheon a {transform: translate(-50%,-80%);}
.map .kangwon .yanggu {left:191px;top:79px;width:77px;height:94px;background-image: url(../images/map/map_gangwon_yanggu.png);background-size:cover;z-index: 1;}
.map .kangwon .yanggu.on,
.map .kangwon .yanggu:hover {background-image: url(../images/map/map_gangwon_yanggu_on.png);}
.map .kangwon .yanggu a {transform: translate(-70%,-100%);}
.map .kangwon .inje {left:216px;top:64px;width:129px;height:175px;background-image: url(../images/map/map_gangwon_inje.png);background-size:cover;}
.map .kangwon .inje.on,
.map .kangwon .inje:hover {background-image: url(../images/map/map_gangwon_inje_on.png);}
.map .kangwon .inje a {transform: translate(-50%,50%);}
.map .kangwon .goseong {right:172px;top:0;width:79px;height:127px;background-image: url(../images/map/map_gangwon_goseong.png);background-size:cover;}
.map .kangwon .goseong.on,
.map .kangwon .goseong:hover {background-image: url(../images/map/map_gangwon_goseong_on.png);}
.map .kangwon .goseong a {transform: translate(-50%,-30%);}
.map .kangwon .sokcho {right:165px;top:121px;width:42px;height:26px;background-image: url(../images/map/map_gangwon_sokcho.png);background-size:cover;}
.map .kangwon .sokcho.on,
.map .kangwon .sokcho:hover {background-image: url(../images/map/map_gangwon_sokcho_on.png);}
.map .kangwon .sokcho a {transform: translate(-10%,-30%);}
.map .kangwon .chunchoen {left:95px;top:146px;width:132px;height:124px;background-image: url(../images/map/map_gangwon_chunchoen.png);background-size:cover;z-index: 1;}
.map .kangwon .chunchoen.on,
.map .kangwon .chunchoen:hover {background-image: url(../images/map/map_gangwon_chunchoen_on.png);}
.map .kangwon .chunchoen a {transform: translate(-60%,-60%);}
.map .kangwon .yangyang {right:120px;top:141px;width:92px;height:91px;background-image: url(../images/map/map_gangwon_yangyang.png);background-size:cover;}
.map .kangwon .yangyang.on,
.map .kangwon .yangyang:hover {background-image: url(../images/map/map_gangwon_yangyang_on.png);}
.map .kangwon .yangyang a {transform: translate(-50%,-50%);}
.map .kangwon .hongcheon {left:101px;top:198px;width:261px;height:112px;background-image: url(../images/map/map_gangwon_hongcheon.png);background-size:cover;}
.map .kangwon .hongcheon.on,
.map .kangwon .hongcheon:hover {background-image: url(../images/map/map_gangwon_hongcheon_on.png);}
.map .kangwon .hongcheon a {transform: translate(-30%,-40%);}
.map .kangwon .hoengseong {left:153px;top:281px;width:130px;height:113px;background-image: url(../images/map/map_gangwon_hoengseong.png);background-size:cover;}
.map .kangwon .hoengseong.on,
.map .kangwon .hoengseong:hover {background-image: url(../images/map/map_gangwon_hoengseong_on.png);}
.map .kangwon .hoengseong a {transform: translate(-40%,-110%);}
.map .kangwon .gangneung {right:61px;bottom:147px;width:115px;height:122px;background-image: url(../images/map/map_gangwon_gangneung.png);background-size:cover;}
.map .kangwon .gangneung.on,
.map .kangwon .gangneung:hover {background-image: url(../images/map/map_gangwon_gangneung_on.png);}
.map .kangwon .gangneung a {transform: translate(-20%,-120%);}
.map .kangwon .wonju {left:140px;bottom:56px;width:117px;height:104px;background-image: url(../images/map/map_gangwon_wonju.png);background-size:cover;}
.map .kangwon .wonju.on,
.map .kangwon .wonju:hover {background-image: url(../images/map/map_gangwon_wonju_on.png);}
.map .kangwon .wonju a {transform: translate(-90%,-30%);}
.map .kangwon .pyoengchang {left:269px;top:248px;width:132px;height:163px;background-image: url(../images/map/map_gangwon_pyeongchang.png);background-size:cover;}
.map .kangwon .pyoengchang.on,
.map .kangwon .pyoengchang:hover {background-image: url(../images/map/map_gangwon_pyeongchang_on.png);}
.map .kangwon .pyoengchang a {transform: translate(-70%,-90%);}
.map .kangwon .jeongsun {left:333px;top:321px;width:119px;height:136px;background-image: url(../images/map/map_gangwon_jeongsun.png);background-size:cover;z-index: 1;}
.map .kangwon .jeongsun.on,
.map .kangwon .jeongsun:hover {background-image: url(../images/map/map_gangwon_jeongsun_on.png);}
.map .kangwon .jeongsun a {transform: translate(-60%,-70%);}
.map .kangwon .donghae {right:41px;bottom:120px;width:47px;height:52px;background-image: url(../images/map/map_gangwon_donghae.png);background-size:cover;}
.map .kangwon .donghae.on,
.map .kangwon .donghae:hover {background-image: url(../images/map/map_gangwon_donghae_on.png);}
.map .kangwon .donghae a {transform: translate(-20%,-50%);}
.map .kangwon .yeongwol {left:232px;bottom:2px;width:194px;height:123px;background-image: url(../images/map/map_gangwon_yeongwol.png);background-size:cover;}
.map .kangwon .yeongwol.on,
.map .kangwon .yeongwol:hover {background-image: url(../images/map/map_gangwon_yeongwol_on.png);}
.map .kangwon .yeongwol a {transform: translate(-70%,-10%);}
.map .kangwon .teabaek {right:64px;bottom:12px;width:55px;height:79px;background-image: url(../images/map/map_gangwon_teabaek.png);background-size:cover;z-index: 1;}
.map .kangwon .teabaek.on,
.map .kangwon .teabaek:hover {background-image: url(../images/map/map_gangwon_teabaek_on.png);}
.map .kangwon .teabaek a {transform: translate(-50%,-15%);}
.map .kangwon .samcheok {right:0;bottom:0;width:119px;height:129px;background-image: url(../images/map/map_gangwon_samcheok.png);background-size:cover;}
.map .kangwon .samcheok.on,
.map .kangwon .samcheok:hover {background-image: url(../images/map/map_gangwon_samcheok_on.png);}
.map .kangwon .samcheok a {transform: translate(-20%,-90%);}
.map .gyeonggi {display:none;width:411px;height:502px;margin:93px 0 0 75px;}
.map .gyeonggi li a {opacity: 1;border-color: #ccc;color:#5b666a;padding: 3px 5px;min-width: 68px;background-color: #e8e8e8;}
.map .gyeonggi li:hover a{border-color: #ee8508;color: #1a1a1a; }
.map .gyeonggi .yeoncheon {left:87px;top:0;width:119px;height:118px;background-image: url(../images/map/map_gyeonggi_yeoncheon.png);background-size: cover;}
.map .gyeonggi .yeoncheon a {transform: translate(-50%,-50%);}
.map .gyeonggi .yeoncheon.on,
.map .gyeonggi .yeoncheon:hover {background-image: url(../images/map/map_gyeonggi_yeoncheon_on.png);}
.map .gyeonggi .pocheon {left:181px;top:40px;width:111px;height:144px;background-image: url(../images/map/map_gyeonggi_pocheon.png);background-size:cover;}
.map .gyeonggi .pocheon.on,
.map .gyeonggi .pocheon:hover {background-image: url(../images/map/map_gyeonggi_pocheon_on.png);}
.map .gyeonggi .pocheon a {transform: translate(-40%,-140%);}
.map .gyeonggi .dongducheon {left:153px;top:103px;width:43px;height:42px;background-image: url(../images/map/map_gyeonggi_dongducheon.png);background-size:cover;z-index: 1;}
.map .gyeonggi .dongducheon.on,
.map .gyeonggi .dongducheon:hover {background-image: url(../images/map/map_gyeonggi_dongducheon_on.png);}
.map .gyeonggi .dongducheon a {min-width: 78px; transform: translate(-50%,-60%);}
.map .gyeonggi .paju {left:46px;top:96px;width:104px;height:110px;background-image: url(../images/map/map_gyeonggi_paju.png);background-size:cover;}
.map .gyeonggi .paju.on,
.map .gyeonggi .paju:hover {background-image: url(../images/map/map_gyeonggi_paju_on.png);}
.map .gyeonggi .paju a {transform: translate(-75%,-50%);}
.map .gyeonggi .yangju {left:120px;top:117px;width:65px;height:97px;background-image: url(../images/map/map_gyeonggi_yangju.png);background-size:cover;}
.map .gyeonggi .yangju.on,
.map .gyeonggi .yangju:hover {background-image: url(../images/map/map_gyeonggi_yangju_on.png);}
.map .gyeonggi .yangju a {transform: translate(-50%,-80%);}
.map .gyeonggi .gimpo {left:-2px;top:177px;width:87px;height:71px;background-image: url(../images/map/map_gyeonggi_gimpo.png);background-size:cover;}
.map .gyeonggi .gimpo.on,
.map .gyeonggi .gimpo:hover {background-image: url(../images/map/map_gyeonggi_gimpo_on.png);}
.map .gyeonggi .gimpo a {transform: translate(-90%,-60%);}
.map .gyeonggi .goyang {left:50px;top:189px;width:97px;height:61px;background-image: url(../images/map/map_gyeonggi_goyang.png);background-size:cover;z-index: 1;}
.map .gyeonggi .goyang.on,
.map .gyeonggi .goyang:hover {background-image: url(../images/map/map_gyeonggi_goyang_on.png);}
.map .gyeonggi .goyang a {transform: translate(-60%,-60%);}
.map .gyeonggi .uijeongbu {left:156px;top:175px;width:37px;height:37px;background-image: url(../images/map/map_gyeonggi_uijeongbu.png);background-size:cover;z-index: 1;}
.map .gyeonggi .uijeongbu.on,
.map .gyeonggi .uijeongbu:hover {background-image: url(../images/map/map_gyeonggi_uijeongbu_on.png);}
.map .gyeonggi .uijeongbu a {min-width: 78px;transform: translate(-50%,-50%);}
.map .gyeonggi .guli {left:178px;top:226px;width:24px;height:32px;background-image: url(../images/map/map_gyeonggi_guli.png);background-size:cover;}
.map .gyeonggi .guli.on,
.map .gyeonggi .guli:hover {background-image: url(../images/map/map_gyeonggi_guli_on.png);}
.map .gyeonggi .guli a {transform: translate(-80%,-40%);}
.map .gyeonggi .namyangju {left:175px;top:180px;width:89px;height:93px;background-image: url(../images/map/map_gyeonggi_namyangju.png);background-size:cover;}
.map .gyeonggi .namyangju.on,
.map .gyeonggi .namyangju:hover {background-image: url(../images/map/map_gyeonggi_namyangju_on.png);}
.map .gyeonggi .namyangju a {min-width: 80px;transform: translate(-45%,-50%);}
.map .gyeonggi .gapyeong {left:235px;top:82px;width:111px;height:167px;background-image: url(../images/map/map_gyeonggi_gapyeong.png);background-size:cover;}
.map .gyeonggi .gapyeong.on,
.map .gyeonggi .gapyeong:hover {background-image: url(../images/map/map_gyeonggi_gapyeong_on.png);}
.map .gyeonggi .gapyeong a {transform: translate(-50%,-100%);}
.map .gyeonggi .bucheon {left:68px;top:263px;width:24px;height:22px;background-image: url(../images/map/map_gyeonggi_bucheon.png);background-size:cover;}
.map .gyeonggi .bucheon.on,
.map .gyeonggi .bucheon:hover {background-image: url(../images/map/map_gyeonggi_bucheon_on.png);}
.map .gyeonggi .bucheon a {transform: translate(-90%,-120%);}
.map .gyeonggi .anyang {left:101px;top:300px;width:34px;height:25px;background-image: url(../images/map/map_gyeonggi_anyang.png);background-size:cover;z-index: 1;}
.map .gyeonggi .anyang.on,
.map .gyeonggi .anyang:hover {background-image: url(../images/map/map_gyeonggi_anyang_on.png);}
.map .gyeonggi .anyang a {transform: translate(-90%,-50%);}
.map .gyeonggi .gwangmyeong {left:88px;top:284px;width:32px;height:21px;background-image: url(../images/map/map_gyeonggi_gwangmyeong.png);background-size:cover;z-index: 1;}
.map .gyeonggi .gwangmyeong.on,
.map .gyeonggi .gwangmyeong:hover {background-image: url(../images/map/map_gyeonggi_gwangmyeong_on.png);}
.map .gyeonggi .gwangmyeong a {transform: translate(-80%,-90%);}
.map .gyeonggi .gwacheon {left:134px;top:293px;width:33px;height:20px;background-image: url(../images/map/map_gyeonggi_gwacheon.png);background-size:cover;z-index: 1;}
.map .gyeonggi .gwacheon.on,
.map .gyeonggi .gwacheon:hover {background-image: url(../images/map/map_gyeonggi_gwacheon_on.png);}
.map .gyeonggi .gwacheon a {transform: translate(-50%,-120%);}
.map .gyeonggi .hanam {left:194px;top:246px;width:42px;height:39px;background-image: url(../images/map/map_gyeonggi_hanam.png);background-size:cover;z-index: 2}
.map .gyeonggi .hanam.on,
.map .gyeonggi .hanam:hover {background-image: url(../images/map/map_gyeonggi_hanam_on.png);}
.map .gyeonggi .hanam a {transform: translate(-20%,-50%);}
.map .gyeonggi .seongnam {left:154px;top:285px;width:53px;height:49px;background-image: url(../images/map/map_gyeonggi_seongnam.png);background-size:cover;z-index: 2;}
.map .gyeonggi .seongnam.on,
.map .gyeonggi .seongnam:hover {background-image: url(../images/map/map_gyeonggi_seongnam_on.png);}
.map .gyeonggi .seongnam a {transform: translate(0%,-80%);}
.map .gyeonggi .yangpyeong {right:0;top:222px;width:157px;height:105px;background-image: url(../images/map/map_gyeonggi_yangpyeong.png);background-size:cover;z-index: 1;}
.map .gyeonggi .yangpyeong.on,
.map .gyeonggi .yangpyeong:hover {background-image: url(../images/map/map_gyeonggi_yangpyeong_on.png);}
.map .gyeonggi .yangpyeong a {transform: translate(-50%,-50%);}
.map .gyeonggi .siheung {left:48px;top:281px;width:56px;height:62px;background-image: url(../images/map/map_gyeonggi_siheung.png);background-size:cover;}
.map .gyeonggi .siheung.on,
.map .gyeonggi .siheung:hover {background-image: url(../images/map/map_gyeonggi_siheung_on.png);}
.map .gyeonggi .siheung a {transform: translate(-120%,-30%);}
.map .gyeonggi .ansan {left:60px;top:325px;width:64px;height:35px;background-image: url(../images/map/map_gyeonggi_ansan.png);background-size:cover;}
.map .gyeonggi .ansan.on,
.map .gyeonggi .ansan:hover {background-image: url(../images/map/map_gyeonggi_ansan_on.png);}
.map .gyeonggi .ansan a {transform: translate(-80%,-30%);}
.map .gyeonggi .gunpo {left:107px;top:324px;width:25px;height:20px;background-image: url(../images/map/map_gyeonggi_gunpo.png);background-size:cover;z-index: 3;}
.map .gyeonggi .gunpo.on,
.map .gyeonggi .gunpo:hover {background-image: url(../images/map/map_gyeonggi_gunpo_on.png);}
.map .gyeonggi .gunpo a {transform: translate(-20%,-10%);}
.map .gyeonggi .gwangju {left:193px;top:267px;width:98px;height:95px;background-image: url(../images/map/map_gyeonggi_gwangju.png);background-size:cover;z-index: 1;}
.map .gyeonggi .gwangju.on,
.map .gyeonggi .gwangju:hover {background-image: url(../images/map/map_gyeonggi_gwangju_on.png);}
.map .gyeonggi .gwangju a {transform: translate(-30%,-10%);}
.map .gyeonggi .uiwang {left:125px;top:310px;width:33px;height:39px;background-image: url(../images/map/map_gyeonggi_uiwang.png);background-size:cover;z-index: 2;}
.map .gyeonggi .uiwang.on,
.map .gyeonggi .uiwang:hover {background-image: url(../images/map/map_gyeonggi_uiwang_on.png);}
.map .gyeonggi .uiwang a {transform: translate(-30%,-90%);}
.map .gyeonggi .whaseong {left:44px;bottom:47px;width:149px;height:97px;background-image: url(../images/map/map_gyeonggi_whaseong.png);background-size:cover;}
.map .gyeonggi .whaseong.on,
.map .gyeonggi .whaseong:hover {background-image: url(../images/map/map_gyeonggi_whaseong_on.png);}
.map .gyeonggi .whaseong a {transform: translate(-80%,-50%);}
.map .gyeonggi .suwon {left:120px;top:333px;width:53px;height:42px;background-image: url(../images/map/map_gyeonggi_suwon.png);background-size:cover;z-index: 2;}
.map .gyeonggi .suwon.on,
.map .gyeonggi .suwon:hover {background-image: url(../images/map/map_gyeonggi_suwon_on.png);}
.map .gyeonggi .suwon a {transform: translate(-40%,30%);}
.map .gyeonggi .yongin {left:158px;top:330px;width:127px;height:97px;background-image: url(../images/map/map_gyeonggi_yongin.png);background-size:cover;z-index: 0;}
.map .gyeonggi .yongin.on,
.map .gyeonggi .yongin:hover {background-image: url(../images/map/map_gyeonggi_yongin_on.png);}
.map .gyeonggi .yongin a {transform: translate(-50%,-50%);}
.map .gyeonggi .osan {left:145px;bottom:85px;width:30px;height:27px;background-image: url(../images/map/map_gyeonggi_osan.png);background-size:cover;z-index: 1;}
.map .gyeonggi .osan.on,
.map .gyeonggi .osan:hover {background-image: url(../images/map/map_gyeonggi_osan_on.png);}
.map .gyeonggi .osan a {transform: translate(-40%,-20%);}
.map .gyeonggi .pyeongtaeg {left:83px;bottom:6px;width:107px;height:87px;background-image: url(../images/map/map_gyeonggi_pyeongtaeg.png);background-size:cover;}
.map .gyeonggi .pyeongtaeg.on,
.map .gyeonggi .pyeongtaeg:hover {background-image: url(../images/map/map_gyeonggi_pyeongtaeg_on.png);}
.map .gyeonggi .pyeongtaeg a {transform: translate(-40%,-30%);}
.map .gyeonggi .anseong {right:104px;bottom:1px;width:123px;height:91px;background-image: url(../images/map/map_gyeonggi_anseong.png);background-size:cover;}
.map .gyeonggi .anseong.on,
.map .gyeonggi .anseong:hover {background-image: url(../images/map/map_gyeonggi_anseong_on.png);}
.map .gyeonggi .anseong a {transform: translate(-60%,-50%);}
.map .gyeonggi .icheon {right:58px;bottom:55px;width:98px;height:116px;background-image: url(../images/map/map_gyeonggi_icheon.png);background-size:cover;z-index: 1;}
.map .gyeonggi .icheon.on,
.map .gyeonggi .icheon:hover {background-image: url(../images/map/map_gyeonggi_icheon_on.png);}
.map .gyeonggi .icheon a {transform: translate(-60%,-50%);}
.map .gyeonggi .yeoju {right:16px;bottom:89px;width:119px;height:109px;background-image: url(../images/map/map_gyeonggi_yeoju.png);background-size:cover;}
.map .gyeonggi .yeoju.on,
.map .gyeonggi .yeoju:hover {background-image: url(../images/map/map_gyeonggi_yeoju_on.png);}
.map .gyeonggi .yeoju a {transform: translate(-20%,-90%);}

.map .chungnam {display:none;width:545px;height:481px;margin:93px 0 0 75px;}
.map .chungnam li a {opacity: 1;border-color: #ccc;color:#5b666a;padding: 3px 5px;min-width: 68px;background-color: #e8e8e8;}
.map .chungnam li:hover a{border-color: #ee8508;color: #1a1a1a; }
.map .chungnam .taean {left:0;top: 41px;width: 106px;height: 240px;background-image: url(../images/map/map_chungnam_taean.png);background-size: cover;}
.map .chungnam .taean a {transform: translate(-70%,-160%);}
.map .chungnam .taean.on,
.map .chungnam .taean:hover {background-image: url(../images/map/map_chungnam_taean_on.png);}
.map .chungnam .seosan {left: 73px;top: 20px;width: 116px;height:180px;background-image: url(../images/map/map_chungnam_seosan.png);background-size:cover;}
.map .chungnam .seosan.on,
.map .chungnam .seosan:hover {background-image: url(../images/map/map_chungnam_seosan_on.png);}
.map .chungnam .seosan a {transform: translate(-50%,50%);}
.map .chungnam .dangjin {left: 125px;top:0;width: 139px;height: 133px;background-image: url(../images/map/map_chungnam_dangjin.png);background-size:cover;z-index: 1;}
.map .chungnam .dangjin.on,
.map .chungnam .dangjin:hover {background-image: url(../images/map/map_chungnam_dangjin_on.png);}
.map .chungnam .dangjin a {transform: translate(-60%,-60%);}
.map .chungnam .hongseong {left: 113px;top: 176px;width: 117px;height:90px;background-image: url(../images/map/map_chungnam_hongseong.png);background-size:cover;z-index: 1;}
.map .chungnam .hongseong.on,
.map .chungnam .hongseong:hover {background-image: url(../images/map/map_chungnam_hongseong_on.png);}
.map .chungnam .hongseong a {transform: translate(-50%,-50%);}
.map .chungnam .yesan {left: 166px;top: 115px;width:138px;height:122px;background-image: url(../images/map/map_chungnam_yesan.png);background-size:cover;}
.map .chungnam .yesan.on,
.map .chungnam .yesan:hover {background-image: url(../images/map/map_chungnam_yesan_on.png);}
.map .chungnam .yesan a {transform: translate(-30%,-80%);}
.map .chungnam .asan {left: 254px;top: 56px;width:104px;height:122px;background-image: url(../images/map/map_chungnam_asan.png);background-size:cover;}
.map .chungnam .asan.on,
.map .chungnam .asan:hover {background-image: url(../images/map/map_chungnam_asan_on.png);}
.map .chungnam .asan a {transform: translate(-40%,-60%);}
.map .chungnam .cheonan {left: 320px;top: 40px;width:145px;height:156px;background-image: url(../images/map/map_chungnam_cheonan.png);background-size:cover;z-index: 1;}
.map .chungnam .cheonan.on,
.map .chungnam .cheonan:hover {background-image: url(../images/map/map_chungnam_cheonan_on.png);}
.map .chungnam .cheonan a {transform: translate(-40%,-70%);}
.map .chungnam .bolyeong {left:127px;top:236px;width:91px;height: 155px;background-image: url(../images/map/map_chungnam_bolyeong.png);background-size:cover;}
.map .chungnam .bolyeong.on,
.map .chungnam .bolyeong:hover {background-image: url(../images/map/map_chungnam_bolyeong_on.png);}
.map .chungnam .bolyeong a {transform: translate(-60%,-60%);}
.map .chungnam .cheongyang {left: 201px;top: 222px;width: 121px;height: 107px;background-image: url(../images/map/map_chungnam_cheongyang.png);background-size:cover;}
.map .chungnam .cheongyang.on,
.map .chungnam .cheongyang:hover {background-image: url(../images/map/map_chungnam_cheongyang_on.png);}
.map .chungnam .cheongyang a {transform: translate(-70%,-40%);}
.map .chungnam .gongju {left: 276px;top: 173px;width: 141px;height: 174px;background-image: url(../images/map/map_chungnam_gongju.png);background-size:cover;}
.map .chungnam .gongju.on,
.map .chungnam .gongju:hover {background-image: url(../images/map/map_chungnam_gongju_on.png);}
.map .chungnam .gongju a {transform: translate(-33%,-30%);}
.map .chungnam .seocheon {left:131px;bottom:12px;width:134px;height:83px;background-image: url(../images/map/map_chungnam_seocheon.png);background-size:cover;z-index: 1;}
.map .chungnam .seocheon.on,
.map .chungnam .seocheon:hover {background-image: url(../images/map/map_chungnam_seocheon_on.png);}
.map .chungnam .seocheon a {transform: translate(-50%,-50%);}
.map .chungnam .buyeo {left:199px;bottom: 42px;width:139px;height:135px;background-image: url(../images/map/map_chungnam_buyeo.png);background-size:cover;}
.map .chungnam .buyeo.on,
.map .chungnam .buyeo:hover {background-image: url(../images/map/map_chungnam_buyeo_on.png);}
.map .chungnam .buyeo a {transform: translate(-60%,-70%);}
.map .chungnam .nongsan {right:112px;bottom:39px;width:124px;height:120px;background-image: url(../images/map/map_chungnam_nongsan.png);background-size:cover;}
.map .chungnam .nongsan.on,
.map .chungnam .nongsan:hover {background-image: url(../images/map/map_chungnam_nongsan_on.png);}
.map .chungnam .nongsan a {transform: translate(-50%,-20%);}
.map .chungnam .gyelyong {right: 129px;bottom: 112px;width:28px;height:52px;background-image: url(../images/map/map_chungnam_gyelyong.png);background-size:cover;z-index: 1;}
.map .chungnam .gyelyong.on,
.map .chungnam .gyelyong:hover {background-image: url(../images/map/map_chungnam_gyelyong_on.png);}
.map .chungnam .gyelyong a {transform: translate(-10%,-60%);}
.map .chungnam .geumsan {right:0;bottom:0;width:114px;height:130px;background-image: url(../images/map/map_chungnam_geumsan.png);background-size:cover;}
.map .chungnam .geumsan.on,
.map .chungnam .geumsan:hover {background-image: url(../images/map/map_chungnam_geumsan_on.png);}
.map .chungnam .geumsan a {transform: translate(-50%,-30%);}

.map .chungbuk {display:none;width:417px;height: 447px;margin:93px 0 0 75px;}
.map .chungbuk li a {opacity: 1;border-color: #ccc;color:#5b666a;padding: 3px 5px;min-width: 68px;background-color: #e8e8e8;}
.map .chungbuk li:hover a{border-color: #ee8508;color: #1a1a1a; }
.map .chungbuk .jincheon {left: 1px;top: 91px;width: 86px;height: 86px;background-image: url(../images/map/map_chungbuk_jincheon.png);background-size: cover;}
.map .chungbuk .jincheon a {transform: translate(-70%,-20%);}
.map .chungbuk .jincheon.on,
.map .chungbuk .jincheon:hover {background-image: url(../images/map/map_chungbuk_jincheon_on.png);}
.map .chungbuk .eumseong {left: 38px;top: 35px;width: 118px;height:113px;background-image: url(../images/map/map_chungbuk_eumseong.png);background-size:cover;}
.map .chungbuk .eumseong.on,
.map .chungbuk .eumseong:hover {background-image: url(../images/map/map_chungbuk_eumseong_on.png);}
.map .chungbuk .eumseong a {transform: translate(-80%,-50%);}
.map .chungbuk .chungju {left: 112px;top: 15px;width: 144px;height: 148px;background-image: url(../images/map/map_chungbuk_chungju.png);background-size:cover;z-index: 1;}
.map .chungbuk .chungju.on,
.map .chungbuk .chungju:hover {background-image: url(../images/map/map_chungbuk_chungju_on.png);}
.map .chungbuk .chungju a {transform: translate(-50%,-90%);}
.map .chungbuk .jecheon {left: 191px;top: 0;width: 123px;height:157px;background-image: url(../images/map/map_chungbuk_jecheon.png);background-size:cover;z-index: 1;}
.map .chungbuk .jecheon.on,
.map .chungbuk .jecheon:hover {background-image: url(../images/map/map_chungbuk_jecheon_on.png);}
.map .chungbuk .jecheon a {transform: translate(-30%,-180%);}
.map .chungbuk .danyang {right: 0;top: 32px;width:130px;height:134px;background-image: url(../images/map/map_chungbuk_danyang.png);background-size:cover;}
.map .chungbuk .danyang.on,
.map .chungbuk .danyang:hover {background-image: url(../images/map/map_chungbuk_danyang_on.png);}
.map .chungbuk .danyang a {transform: translate(-70%,-60%);}
.map .chungbuk .cheongju {left: 0;top: 172px;width:146px;height:135px;background-image: url(../images/map/map_chungbuk_cheongju.png);background-size:cover;}
.map .chungbuk .cheongju.on,
.map .chungbuk .cheongju:hover {background-image: url(../images/map/map_chungbuk_cheongju_on.png);}
.map .chungbuk .cheongju a {transform: translate(-70%,-100%);}
.map .chungbuk .jeungpyeong {left: 77px;top: 145px;width:37px;height:55px;background-image: url(../images/map/map_chungbuk_jeungpyeong.png);background-size:cover;z-index: 1;}
.map .chungbuk .jeungpyeong.on,
.map .chungbuk .jeungpyeong:hover {background-image: url(../images/map/map_chungbuk_jeungpyeong_on.png);}
.map .chungbuk .jeungpyeong a {transform: translate(-10%,-70%);}
.map .chungbuk .goesan {left:104px;top:113px;width:141px;height: 121px;background-image: url(../images/map/map_chungbuk_goesan.png);background-size:cover;}
.map .chungbuk .goesan.on,
.map .chungbuk .goesan:hover {background-image: url(../images/map/map_chungbuk_goesan_on.png);}
.map .chungbuk .goesan a {transform: translate(-30%,20%);}
.map .chungbuk .boeun {left: 70px;top: 231px;width: 115px;height: 83px;background-image: url(../images/map/map_chungbuk_boeun.png);background-size:cover;}
.map .chungbuk .boeun.on,
.map .chungbuk .boeun:hover {background-image: url(../images/map/map_chungbuk_boeun_on.png);}
.map .chungbuk .boeun a {transform: translate(-40%,-60%);}
.map .chungbuk .ogcheon {left: 59px;top: 291px;width: 128px;height: 88px;background-image: url(../images/map/map_chungbuk_ogcheon.png);background-size:cover;}
.map .chungbuk .ogcheon.on,
.map .chungbuk .ogcheon:hover {background-image: url(../images/map/map_chungbuk_ogcheon_on.png);}
.map .chungbuk .ogcheon a {transform: translate(-80%,-50%);}
.map .chungbuk .yeongdong {left:91px;bottom:0;width:151px;height:109px;background-image: url(../images/map/map_chungbuk_yeongdong.png);background-size:cover;z-index: 1;}
.map .chungbuk .yeongdong.on,
.map .chungbuk .yeongdong:hover {background-image: url(../images/map/map_chungbuk_yeongdong_on.png);}
.map .chungbuk .yeongdong a {transform: translate(-70%,-40%);}

.map .jeonnam {display:none;width: 625px;height: 459px;margin:93px 0 0 30px;}
.map .jeonnam li a {opacity: 1;border-color: #ccc;color:#5b666a;padding: 3px 5px;min-width: 68px;background-color: #e8e8e8;}
.map .jeonnam li:hover a{border-color: #ee8508;color: #1a1a1a; }
.map .jeonnam .yeonggwang {left: 161px;top: 23px;width: 106px;height: 101px;background-image: url(../images/map/map_jeonnam_yeonggwang.png);background-size: cover;}
.map .jeonnam .yeonggwang a {transform: translate(-70%,-20%);}
.map .jeonnam .yeonggwang.on,
.map .jeonnam .yeonggwang:hover {background-image: url(../images/map/map_jeonnam_yeonggwang_on.png);}
.map .jeonnam .jangseong {left: 252px;top: 1px;width: 105px;height:110px;background-image: url(../images/map/map_jeonnam_jangseong.png);background-size:cover;}
.map .jeonnam .jangseong.on,
.map .jeonnam .jangseong:hover {background-image: url(../images/map/map_jeonnam_jangseong_on.png);}
.map .jeonnam .jangseong a {transform: translate(-60%,-20%);}
.map .jeonnam .danyang {left: 336px;top: 10px;width: 78px;height: 129px;background-image: url(../images/map/map_jeonnam_danyang.png);background-size:cover;z-index: 1;}
.map .jeonnam .danyang.on,
.map .jeonnam .danyang:hover {background-image: url(../images/map/map_jeonnam_danyang_on.png);}
.map .jeonnam .danyang a {transform: translate(-50%,-50%);}
.map .jeonnam .gogseong {left: 408px;top: 63px;width: 101px;height:93px;background-image: url(../images/map/map_jeonnam_gogseong.png);background-size:cover;z-index: 1;}
.map .jeonnam .gogseong.on,
.map .jeonnam .gogseong:hover {background-image: url(../images/map/map_jeonnam_gogseong_on.png);}
.map .jeonnam .gogseong a {transform: translate(-45%,-70%);}
.map .jeonnam .gulye {left: 497px;top: 47px;width:77px;height:100px;background-image: url(../images/map/map_jeonnam_gulye.png);background-size:cover;}
.map .jeonnam .gulye.on,
.map .jeonnam .gulye:hover {background-image: url(../images/map/map_jeonnam_gulye_on.png);}
.map .jeonnam .gulye a {transform: translate(-30%,-60%);}
.map .jeonnam .hampyeong {left: 187px;top: 101px;width: 89px;height: 94px;background-image: url(../images/map/map_jeonnam_hampyeong.png);background-size:cover;z-index: 2;}
.map .jeonnam .hampyeong.on,
.map .jeonnam .hampyeong:hover {background-image: url(../images/map/map_jeonnam_hampyeong_on.png);}
.map .jeonnam .hampyeong a {transform: translate(-50%,-70%);}
.map .jeonnam .sinan {left: 0px;top: 127px;width:179px;height:261px;background-image: url(../images/map/map_jeonnam_sinan.png);background-size:cover;z-index: 1;}
.map .jeonnam .sinan.on,
.map .jeonnam .sinan:hover {background-image: url(../images/map/map_jeonnam_sinan_on.png);}
.map .jeonnam .sinan a {transform: translate(-60%,-110%);}
.map .jeonnam .muan {left: 142px;top: 126px;width:99px;height: 144px;background-image: url(../images/map/map_jeonnam_muan.png);background-size:cover;z-index: 2;}
.map .jeonnam .muan.on,
.map .jeonnam .muan:hover {background-image: url(../images/map/map_jeonnam_muan_on.png);}
.map .jeonnam .muan a {transform: translate(-50%,-10%);}
.map .jeonnam .naju {left: 228px;top: 143px;width: 120px;height: 91px;background-image: url(../images/map/map_jeonnam_naju.png);background-size:cover;}
.map .jeonnam .naju.on,
.map .jeonnam .naju:hover {background-image: url(../images/map/map_jeonnam_naju_on.png);}
.map .jeonnam .naju a {transform: translate(-40%,-60%);}
.map .jeonnam .hwasu {left: 334px;top: 107px;width: 110px;height: 144px;background-image: url(../images/map/map_jeonnam_hwasu.png);background-size:cover;}
.map .jeonnam .hwasu.on,
.map .jeonnam .hwasu:hover {background-image: url(../images/map/map_jeonnam_hwasu_on.png);}
.map .jeonnam .hwasu a {transform: translate(-55%,-30%);}
.map .jeonnam .suncheon {left: 437px;top: 113px;width:125px;height:133px;background-image: url(../images/map/map_jeonnam_suncheon.png);background-size:cover;z-index: 1;}
.map .jeonnam .suncheon.on,
.map .jeonnam .suncheon:hover {background-image: url(../images/map/map_jeonnam_suncheon_on.png);}
.map .jeonnam .suncheon a {transform: translate(-60%,-20%);}
.map .jeonnam .gwangyang {right:0;top: 117px;width:77px;height:99px;background-image: url(../images/map/map_jeonnam_gwangyang.png);background-size:cover;z-index: 1;}
.map .jeonnam .gwangyang.on,
.map .jeonnam .gwangyang:hover {background-image: url(../images/map/map_jeonnam_gwangyang_on.png);}
.map .jeonnam .gwangyang a {transform: translate(-20%,-30%);}
.map .jeonnam .yeongan {left:182px;top:206px;width:148px;height:100px;background-image: url(../images/map/map_jeonnam_yeongan.png);background-size:cover;z-index: 1;}
.map .jeonnam .yeongan.on,
.map .jeonnam .yeongan:hover {background-image: url(../images/map/map_jeonnam_yeongan_on.png);}
.map .jeonnam .yeongan a {transform: translate(-30%,-40%);}
.map .jeonnam .jindo {left:94px;top:337px;width:89px;height:88px;background-image: url(../images/map/map_jeonnam_jindo.png);background-size:cover;z-index: 1;}
.map .jeonnam .jindo.on,
.map .jeonnam .jindo:hover {background-image: url(../images/map/map_jeonnam_jindo_on.png);}
.map .jeonnam .jindo a {transform: translate(-60%,-50%);}
.map .jeonnam .haenam {left: 147px;top: 277px;width:145px;height:165px;background-image: url(../images/map/map_jeonnam_haenam.png);background-size:cover;z-index: 1;}
.map .jeonnam .haenam.on,
.map .jeonnam .haenam:hover {background-image: url(../images/map/map_jeonnam_haenam_on.png);}
.map .jeonnam .haenam a {transform: translate(-30%,-20%);}
.map .jeonnam .kangjin {left: 274px;top: 268px;width:67px;height:127px;background-image: url(../images/map/map_jeonnam_kangjin.png);background-size:cover;z-index: 1;}
.map .jeonnam .kangjin.on,
.map .jeonnam .kangjin:hover {background-image: url(../images/map/map_jeonnam_kangjin_on.png);}
.map .jeonnam .kangjin a {transform: translate(-60%,-40%);}
.map .jeonnam .jangheung {left: 317px;top: 232px;width:77px;height:167px;background-image: url(../images/map/map_jeonnam_jangheung.png);background-size:cover;z-index: 1;}
.map .jeonnam .jangheung.on,
.map .jeonnam .jangheung:hover {background-image: url(../images/map/map_jeonnam_jangheung_on.png);}
.map .jeonnam .jangheung a {transform: translate(-40%,-70%);}
.map .jeonnam .boseong {left:375px;top: 197px;width:129px;height:117px;background-image: url(../images/map/map_jeonnam_boseong.png);background-size:cover;}
.map .jeonnam .boseong.on,
.map .jeonnam .boseong:hover {background-image: url(../images/map/map_jeonnam_boseong_on.png);}
.map .jeonnam .boseong a {transform: translate(-70%,-50%);}
.map .jeonnam .wando {left:265px;top:411px;width:84px;height:49px;background-image: url(../images/map/map_jeonnam_wando.png);background-size:cover;z-index: 1;}
.map .jeonnam .wando.on,
.map .jeonnam .wando:hover {background-image: url(../images/map/map_jeonnam_wando_on.png);}
.map .jeonnam .wando a {transform: translate(-40%,-70%);}
.map .jeonnam .goheung {left:399px;top: 254px;width:138px;height:145px;background-image: url(../images/map/map_jeonnam_goheung.png);background-size:cover;z-index: 1;}
.map .jeonnam .goheung.on,
.map .jeonnam .goheung:hover {background-image: url(../images/map/map_jeonnam_goheung_on.png);}
.map .jeonnam .goheung a {transform: translate(-30%,-10%);}
.map .jeonnam .yeoju {right:0;top:225px;width:77px;height:94px;background-image: url(../images/map/map_jeonnam_yeoju.png);background-size:cover;z-index: 1;}
.map .jeonnam .yeoju.on,
.map .jeonnam .yeoju:hover {background-image: url(../images/map/map_jeonnam_yeoju_on.png);}
.map .jeonnam .yeoju a {transform: translate(-70%,-40%);}

@keyframes circle{
    0% {transform : scale(0);}
    100% {transform : scale(1);}
}

h3 {line-height:1;text-align: center;font-family: "NanumSquareRound";font-size: 40px;}
h3 strong {color:#ee8508}
.settlement_step4 {padding:100px 0;background-color: #fff;}
.settlement_step4 .container>p {text-align: center;}
.settlement_step4 ul {display: grid;margin-top: 48px; grid-template-columns: 1fr 1fr 1fr 1fr;gap:24px}
.settlement_step4 li {padding:24px;background-color: #f7f7f7;color:#101314;border-radius: 20px;}
.settlement_step4 li button {display: block;margin-top: 24px;}
.settlement_step4 li button+button {margin-top: 6px;}
.settlement_step4 li .sn {font-size: 15px;color:#ee8508;font-weight: 800;}
.settlement_step4 li .tit {font-size: 21px;font-weight: 800;}
.settlement_step4 li p {font-size: 15px;margin-top: 18px;}
.settlement_step4 li.step1 {background-image:url(../images/main/img_process_step1.png);background-repeat:no-repeat;background-position: 90% 25px;background-size: 56px;}
.settlement_step4 li.step2 {background-image:url(../images/main/img_process_step2.png);background-repeat:no-repeat;background-position: 90% 25px;background-size: 56px;}
.settlement_step4 li.step3 {background-image:url(../images/main/img_process_step3.png);background-repeat:no-repeat;background-position: 90% 25px;background-size: 56px;}
.settlement_step4 li.step4 {background-image:url(../images/main/img_process_step4.png);background-repeat:no-repeat;background-position: 90% 25px;background-size: 56px;}

/* 귀농·귀촌 자가진단 */
.returnfarm_selftest {overflow:hidden;background-color: #fff1e0;}
.returnfarm_selftest .start {display: grid;grid-template-columns: 1fr 1fr;padding-top: 65px;}
.returnfarm_selftest .start .text{padding-top: 55px;padding-left: 120px;text-align: left;}
.returnfarm_selftest .start .text h3 {text-align: left;}
.returnfarm_selftest .start .text p {margin-top: 20px;font-size: 18px;}
.returnfarm_selftest .start .text a{margin-top: 48px;}
.returnfarm_selftest .success_story {position: relative;margin-top: 140px;padding-bottom: 100px; padding-left: 400px;}
.returnfarm_selftest .success_story .mainTit {position: absolute;left:0;top:17px;}
.returnfarm_selftest .success_story .text{display:inline-block;max-width: 408px;}
.returnfarm_selftest .success_story .text h3{line-height: 48px;text-align: left;}
.returnfarm_selftest .success_story .text p{font-size: 18px;margin-top: 16px;}
.returnfarm_selftest .success_story .slider {margin-right: -53vh;}
.returnfarm_selftest .success_story li {width:282px;background-color: #fff;font-size: 16px;border-radius: 20px;}
.returnfarm_selftest .success_story li img{width:100%;}
.returnfarm_selftest .success_story li .cnt {padding:22px 0 22px 24px;}
.returnfarm_selftest .success_story li .bdg span{padding: 2px 4px; font-size:12px;color: #ff7f00;background-color: #fff1e0;  border-radius: 3px;}
.returnfarm_selftest .success_story li .date{margin-top: 6px; color:#88898a;font-size: 14px;}
.returnfarm_selftest .success_story li p{color:#101314;}
.returnfarm_selftest .success_story .swiper {width:100%;height:350px}
.returnfarm_selftest .success_story .slider {position: relative;}
.returnfarm_selftest .success_story .control-btn {position: absolute;left:0;bottom:-130px;width: 124px;}
.returnfarm_selftest .success_story .control-btn .control-prev[aria-disabled="true"] {background: url(../images/btn_48_ico_left_d.png) no-repeat left top;background-size: cover;}
.returnfarm_selftest .success_story .control-btn .control-next[aria-disabled="true"] {background: url(../images/btn_48_ico_right_d.png) no-repeat left top;background-size: cover;}

/* 지원 정책 */
.support_policy {min-height: 883px;background: #70b949 url(../images/main/img_bg_policy.png) no-repeat center;background-size: auto 100%;}
.support_policy h3 {line-height: 1;margin:0;padding-top: 100px;color:#fff}
.support_policy p{margin-top: 16px;color:#fff;font-size: 18px;text-align: center;}
.policy_list {display: grid;margin-top: 48px; grid-template-columns: 1fr 1fr 1fr;gap:24px}
.policy_list li {padding: 32px 32px 28px; background-color: #fff;border-radius: 20px;text-align: right;}
.policy_list li h4 {font-size: 18px;text-align: left;}
.policy_list li p {color:#101314;text-align: left;font-size: 16px;}

/* 2021 기준 귀농·귀촌인 통계 */
.statistics {min-height: 800px;background-color: #fff;}
.statistics h3{padding-top: 100px;}
.statistics .cnt {width:996px;height:570px;margin:48px auto 0;padding:24px;border:1px solid #eaeaea;border-radius: 20px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);}
.statistics .cnt img {width:100%;}
.statistics .cnt img:nth-child(2){display: none;}

/* 우리동네 작가 */
.mytown {min-height: 850px;background: #fff url(../images/main/img_bg_mytownwriter.png) no-repeat center bottom;background-size: auto 100%;}
.mytown h3 {padding-top: 100px;}
.mytown p {margin-top: 16px;text-align: center;font-size: 18px;}

/* 언론보도/행사알림 */
.pressevent {min-height: 745px;background-color: #f7f6f2;}
.pressevent h3{padding-top: 100px;}
.pressevent p {margin-top: 16px;text-align: center;font-size: 18px;}
.pressevent .slider{position:relative; max-width: 1296px;margin-top:48px;padding:0 48px;}
.pressevent .slider .swiper-button-prev{position: absolute;left:0;top:50%;width:24px;height: 24px;border:0;background: url(../images/btn_24_arrow_left_n.png) no-repeat center;background-size: cover;}
.pressevent .slider .swiper-button-prev.swiper-button-disabled{background-image: url(../images/btn_20_icon_mo_d.png);}
.pressevent .slider .swiper-button-next{position: absolute;right:0;top:50%;width:24px;height: 24px;border:0;background: url(../images/btn_24_arrow_right_n.png) no-repeat center;background-size: cover;}
.pressevent .slider .swiper-button-next.swiper-button-disabled{background-image: url(../images/btn_24_arrow_right_d.png);}
.pressevent .slider .cnt p{line-height: 27px;text-align: left;}
.pressevent .slider .cnt .date {line-height: 20px;margin-top: 4px;font-size: 14px;color:#848484;}
.pressevent .slider .swiper-pagination {bottom: 0;}
.pressevent .slider .swiper-pagination-bullet {background-color: #cfd0d0;opacity: 1;}
.pressevent .slider .swiper-pagination-bullet-active {background-color: #ee8508;}
.pressevent_swiper {padding-bottom: 40px;}
.pressevent_swiper img {width:100%;}
.swiper-button-next:after,.swiper-button-prev:after {display: none;}

.main_advertising {min-height: 703px;padding-top:100px;background-color: #f7f6f2;}
.main_advertising  .text{float:left; width:305px;}
.main_advertising  .text h3 {text-align: left;margin-top: 32px;}
.main_advertising  .text p{font-size: 18px;}
.main_advertising .movie {float:right;position: relative;}
.main_advertising .movie .btn-play{position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);}

.ai_result {min-height: 895px;}
.ai_result h3 {text-align: left;padding-top: 100px;line-height: 1.5;}
.ai_result h3 span{color:#70b949}
.ai_result .explain {position: relative;margin-top: 48px; padding:24px;background-color:#70b949;border-radius: 20px;color:#fff; box-shadow: 0 3px 6px 0 rgba(66, 131, 32, 0.17);}
.ai_result .explain h4 {font-size: 18px;}
.ai_result .explain .btn{position:absolute;right:24px;top:50%;transform:translateY(-50%);}
.ai_result .select_box {margin-top: 16px; border-radius: 12px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);border: solid 1px #e8e8e8;}
.ai_result .select_box .nav {padding:18px 24px;}
.ai_result .txt_info {background-color: rgba(108, 173, 34, 0.2);padding: 9px 58px;color:#488009;}
.ai_result .txt_info.ico_home {background-image: url(../images/main/img_home.png);background-repeat: no-repeat;background-position: 24px center;background-size: 28px;}
.ai_result .cnt_info {padding:0 34px;}
.ai_result .cnt_info>li {display: flex;padding:28px 0 33px;border-bottom: 1px solid #e4e4e4;}
.ai_result .cnt_info>li .tit {min-width:212px; font-size: 24px;font-weight: 800;}
.ai_result .cnt_info>li .cnt ul {display: grid;grid-template-columns: 1fr 1fr;column-gap:50px;row-gap: 20px;}
.ai_result .cnt_info>li .cnt ul .cnt_tit_sub{font-size: 16px;font-weight: 800;}
.ai_result .cnt_info>li .cnt ul .cnt_txt_sub{font-size: 14px;color:#4b4b4b;margin-top: 8px;word-break: keep-all;}


.gototop {position:fixed;right:24px;bottom:115px;z-index: 1000;}
.gototop button {display: none;width:56px;height:56px;background: #101314 url(../images/img_gototop.png) no-repeat center;border-radius: 100%;box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);}
@media (max-width: 1920px) {
    .returnfarm_selftest .success_story .slider {margin-right: -33vh;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .gnb {position: relative; padding-top: 24px;}
    .gnb.trans:after{content:"";position: absolute;left:0;top:0;width: 100%;height:100%; background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));}
    .gnb ul {position: relative; z-index: 1;}
    header .util {display: none;}
    .gnb_menu_list {display: none !important;}
    .container {padding:0 16px}
    .lg_info {margin-top: 36px;}
    .lg_info .select {width:100%}
    .lg_info .select h3 {font-size: 24px;}
    .lg_info .select p {font-size: 16px;}
    .lg_info .select .select_box {width:100%;height:auto;margin-top: 28px;}
    .lg_info .map{display: none;}
    .settlement_step4{padding-top: 48px;}
    .settlement_step4 h3{text-align: left;font-size: 24px;}
    .settlement_step4 .container>p{text-align: left;}
    .settlement_step4 ul {grid-template-columns: 1fr;}
    .returnfarm_selftest .start {grid-template-columns: 1fr;padding-top: 0;}
    .returnfarm_selftest .start img{display: none;}
    .returnfarm_selftest .start .text {padding-left: 0;padding-top: 48px;}
    .returnfarm_selftest .start .text h3 {font-size: 24px;}
    .returnfarm_selftest .start .text p {font-size: 15px;}
    .returnfarm_selftest .success_story{padding-left: 0;margin-top: 48px;padding-bottom: 48px;}
    .returnfarm_selftest .success_story .mainTit {position: static;}
    .returnfarm_selftest .success_story .text {display: block; max-width: 100% !important;}
    .returnfarm_selftest .success_story .text h3 {font-size: 24px;}
    .returnfarm_selftest .success_story .text p {margin-top: 16px;font-size: 15px;}
    .returnfarm_selftest .success_story .text br{display: none;}
    .returnfarm_selftest .success_story .slider {margin-top: 24px;}
    .returnfarm_selftest .success_story .swiper {height: auto; padding-bottom: 30px;}
    .returnfarm_selftest .success_story .slider .swiper-pagination {bottom:0}
    .returnfarm_selftest .success_story .slider {margin-right: -2vh;}
    .support_policy {padding-bottom: 48px;}
    .support_policy h3{padding: 48px 16px 0;font-size: 24px;text-align: left;}
    .support_policy>p {margin-top: 12px;padding:0 16px;font-size: 15px;text-align: left;}
    .policy_list {grid-template-columns: 1fr;margin-top: 24px;}
    .policy_list li {padding:20px;}
    .policy_list li p {padding-bottom: 25px;}
    .statistics {padding:0 16px}
    .statistics h3 {padding-top: 48px;font-size: 24px;text-align: left;}
    .statistics .cnt {width:100%;height:auto;margin:24px 0 0;}
    .statistics .cnt img:first-of-type{display: none;}
    .statistics .cnt img:nth-child(2){display: block;}
    .pressevent {min-height: auto; padding:0 16px 48px;}
    .pressevent h3 {padding-top: 48px;font-size: 24px;text-align: left;}
    .pressevent p {text-align: left;font-size: 15px;}
    .pressevent .slider {margin-top: 24px;}

    .main_advertising {padding-top: 48px;min-height: auto;}
    .main_advertising .text h3{margin-top: 0;}
    .main_advertising .text {float: none;}
    .main_advertising .text p {font-size: 15px;}
    .main_advertising .movie {float: none;width:auto;margin-top:24px;background-size: cover;}
    .main_advertising .movie img {width: 100%;}
    .ai_result {padding-bottom: 48px;}
    .ai_result h3 {padding-top: 48px;font-size: 24px;}
    .ai_result .explain .btn {position: static;margin-top: 15px; transform: translateY(0);}
    .ai_result .explain h4 {font-size: 16px;}
    .ai_result .explain p{font-size: 14px;}
    .ai_result .txt_info.ico_home {}
    .ai_result .select_box .nav {display: block; overflow: hidden;padding-right: 0;}
    .ai_result .select_box .nav li {float: left;margin-bottom: 8px;margin-right: 8px;}
    .ai_result .select_box .mo-tab li + li {margin-left: 0;}
    .ai_result .cnt_info>li {display: block;}
    .ai_result .cnt_info>li .tit {font-size: 22px;}
    .ai_result .cnt_info>li .cnt {margin-top: 20px;}
    .ai_result .cnt_info>li .cnt ul {grid-template-columns: 1fr;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
