.nation-bg {height:733px;background:url(../images/main/img_main.jpg) no-repeat center top;background-size:cover;}
.nation-bg .nation-menu {height:650px;display:flex;justify-content:center;}
.nation-bg .nation-menu > li {width:239px;height:100%;padding:38px 24px 0 24px;border-left:1px solid rgba(255,255,255,0.18);}
.nation-bg .nation-menu > li button {display:block;position:relative;width:100%;margin-bottom:32px;padding-left:32px;background:none;border:none;color:#fff;font-size:16px;letter-spacing:-0.48px;text-align:left;}
.nation-bg .nation-menu > li:nth-child(1) button::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:24px;height:24px;background:url(../images/main/img_residence.png) no-repeat left top;background-size:cover;}
.nation-bg .nation-menu > li:nth-child(2) button::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:24px;height:24px;background:url(../images/main/img_farmland.png) no-repeat left top;background-size:cover;}
.nation-bg .nation-menu > li:nth-child(3) button::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:24px;height:24px;background:url(../images/main/img_education.png) no-repeat left top;background-size:cover;}
.nation-bg .nation-menu > li:nth-child(4) button::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:24px;height:24px;background:url(../images/main/img_money.png) no-repeat left top;background-size:cover;}
.nation-bg .nation-menu > li:nth-child(5) button::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:24px;height:24px;background:url(../images/main/img_life.png) no-repeat left top;background-size:cover;}
.nation-bg .nation-menu > li ul {padding-left:32px;}
.nation-bg .nation-menu > li ul > li {margin-top:26px;}
.nation-bg .nation-menu > li ul > li > a {color:#fff;font-size:16px;font-weight:normal;}
.nation-bg .nation-menu .collapse:not(.show) {display:block;}

.recom {padding:80px 0 92px;background:none;}
.recom .recom-txt {padding:22px 24px 20px;}
.recom .recom-txt p {margin-top:6px;color:#101314;font-size:16px;font-weight:500;}

.recom-info {display:flex;}
.recom-info li {padding:2px 4px;background-color:rgba(132,132,132,0.2);border-radius:3px;color:#716c6c;font-size:12px;font-weight:500;}
.recom-info li + li {margin-left:4px;}

.popularity {padding:110px 0 140px;background:#f9faf4;}
.popularity .inner {display:flex;justify-content:space-between;position:relative;max-width:1200px;width:100%;margin:auto;}
.rank-tab {max-width:792px;width:100%;}
.rank-tab .tit-tab {display:flex;justify-content:space-between;border-bottom:2px solid rgba(16,19,20,0.1);}
.rank-tab .tit-tab h3 {font-size:38px;}
.rank-tab .tit-tab .pc-tab {width:auto;border-bottom:none;}
.rank-tab .tit-tab .pc-tab .nav-link {padding:0 0 16px 0;}
.rank-wrap {margin-top:28px;}
.rank-wrap > li {display:flex;}
.rank-wrap > li + li {margin-top:20px;}
.rank-wrap li .rank-img {position:relative;max-width:180px;width:100%;}
.rank-wrap li .rank-img img {width:100%;}
.rank-wrap li .rank-img .rank-num {position:absolute;top:0;left:17px;max-width:38px;width:100%;}
.rank-wrap li .rank-txt {max-width:588px;width:100%;margin-left:24px;padding:17px 0 19px;border-bottom:1px solid rgba(178,178,178,0.3);}
.rank-wrap li .rank-txt strong {display:block;margin-top:6px;color:#101314;font-size:18px;font-weight:500;}
.rank-wrap li .rank-txt p {color:#848484;font-size:14px;font-weight:500;}
.rank-wrap li .rank-txt .rk-price {margin-top:12px;color:#e30000;font-size:22px;}

.banner-info {max-width:384px;}
.banner-info .banner {width:100%;}
.banner-info .banner img {width:100%;height:auto;}

.regis-info {position:relative;height:440px;padding:32px 71px 0 30px;background:#fff;border-radius:12px;}
.regis-info::after {content:"";position:absolute;right:-97px;bottom:0;width:213px;height:223px;background:url(../images/main/img_statistics.png) no-repeat left top;background-size:cover;}
.regis-info .all-regis-info {color:#758184;font-size:16px;font-weight:bold;letter-spacing:-0.8px;}
.regis-info .all-regis-num {margin-top:10px;color:#101314;font-size:24px;font-weight:500;letter-spacing:0.48px;}
.regis-info .all-regis-num strong {color:#101314;font-size:36px;letter-spacing:0.72px;}
.regis-info .all-regis-list {margin-top:28px;}
.regis-info .all-regis-list li {display:flex;justify-content:space-between;}
.regis-info .all-regis-list li + li {margin-top:12px;}
.regis-info .all-regis-list li span {color:#575757;font-size:15px;letter-spacing:-0.75px;}
.regis-info .all-regis-list li p {color:#575757;font-size:16px;font-weight:500;letter-spacing:-0.8px;}
.regis-info .all-regis-list li p strong {font-weight:bold;}


@media only screen and (max-width: 768px) {
    .nation-bg {height:auto;}
    .nation-bg .nation-menu li:nth-child(1) button::after,
    .nation-bg .nation-menu li:nth-child(2) button::after,
    .nation-bg .nation-menu li:nth-child(3) button::after,
    .nation-bg .nation-menu li:nth-child(4) button::after,
    .nation-bg .nation-menu li:nth-child(5) button::after {left:16px;}
    .nation-bg .nation-menu {display:block;height:auto;}
    .nation-bg .nation-menu > li {width:100%;padding:0;}
    .nation-bg .nation-menu > li > button {margin:0;padding:15px 16px 15px 48px;border-top:1px solid rgba(255,255,255,0.18);}
    .nation-bg .nation-menu > li ul li {margin:0;padding:15px 0 15px 16px;}
    .mo-flex {height:280px;display:flex;flex-wrap:wrap;flex-direction:column;align-content:flex-start;}
    .mo-flex li {width:50%;}
    .nation-bg .nation-menu .collapse:not(.show) {display:none;}

    .recom {padding:40px 0 0 16px;}
    .recom .swiper-container {margin-top:28px;}

    .popularity {padding:44px 16px 56px;}
    .rank-tab .tit-tab h3 {font-size:24px;text-align:left;}
    .popularity .inner,
    .rank-tab .tit-tab {flex-direction: column;}
    .rank-tab .tit-tab .pc-tab {margin-top:24px;}
    .rank-wrap li .rank-img {max-width:140px;}
    .rank-wrap li .rank-txt {margin-left:12px;padding:5px 0 0 0;}
    .rank-wrap li .rank-txt strong {font-size:16px;}
    .rank-wrap li .rank-txt p {font-size:13px;}
    .rank-wrap li .rank-txt .rk-price {font-size:18px;}
    .banner-info {max-width:100%;margin-top:40px;}
    .regis-info {margin-top:20px;padding:32px 62px 57px 24px;background:#fff url(../images/main/img_statistics.png) no-repeat right -10% bottom 0;background-size:164px 172px;}
    .regis-info::after {display:none;}
}