.pc-tab-full {border-bottom: 1px solid #e8e8e8;}
.pc-tab-full .pc-tab{margin-bottom: -1px;}

/* 커뮤니티 왼쪽메뉴 */
.comm-menu {min-height: 449px; margin-top:32px; margin-right: -6px; padding:20px 16px;border:1px solid #ddd;border-radius: 8px;}
.comm-menu .user{display: flex;column-gap: 16px;}
.comm-menu .user .group {font-weight: 800;}
.comm-menu .user .member {color: #88898a;}
.comm-menu .profile-img{position: relative;display: inline-block;}
.comm-menu .profile-img .icon-setting {position: absolute; right:-10px;bottom:23px;}
.comm-menu .manage {margin-top: 17px;}
.comm-menu .exit {color:#707172;font-size: 14px;}
.comm-menu .menu-list li {margin-bottom: 14px;}
.comm-menu .menu-list li.depth {margin-bottom: 10px;}
.comm-tit {margin-top: 32px; font-size: 20px;font-weight: 800;}
.comm-tit-sub {color:#88898a;}
.comm-tit-sub+.total {margin-top: 24px;}

/* 온라인상담 게시판 */
.sub-contents {width:100%;}
.sub-contents .online {background:#eaf8e1 url(../images/img_onlineconsulting.png) no-repeat center center;background-size:cover;}
.sub-contents .knowledge_spread {min-height:300px;background:#eaf8e1 url(../images/bg_community_knowledge_spread.jpg) no-repeat center center;background-size:cover;}
.sub-contents .visual h2 {font-size:32px;font-family:'NanumSquareRound';}
.sub-contents .visual p {font-size:18px;}
.sub-contents .knowledge_spread .visual h2{margin-bottom: 16px;}
.sub-contents .knowledge_spread .visual h2>span:first-of-type{margin-right: 16px;}
.sub-contents .knowledge_spread .visual h2 button {vertical-align: middle;}
.sub-contents .knowledge_spread .visual p{font-size: 16px;}
.sub-contents + footer {margin-top:80px;border-top:1px solid #e6e6e6;}
.knowledge_spread .visual {display: flex; padding:137px 0 55px;color: #fff;column-gap: 28px;}
.lnb-area {border:1px solid #e8e8e8;border-left:none;border-right:none;}
.lnb-area .lnb {display:flex;}
.lnb-area .lnb > li {padding:9px 20px 10px;border-right:1px solid #e8e8e8;}
.lnb-area .lnb > li:first-child {padding:0;}
.lnb-area .lnb > li.home {border-left:1px solid #e8e8e8;}
.lnb-area .lnb > li.home a {position:relative;display:block;width:46px;height:46px;font-size:0;line-height:0;}
.lnb-area .lnb > li.home a::after {content:"";position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_home.png) no-repeat center center;background-size:cover;}
.lnb-area .lnb > li > a {color:#848484;font-size:14px;}
.lnb-area .lnb > li > span {color:#2c2c2c;font-size:14px;}
.lnb-area .shareMenu {display:flex;border-left:1px solid #e8e8e8;}
.lnb-area .shareMenu > li {position:relative;padding:11px 20px;border-right:1px solid #e8e8e8;}
.lnb-area .shareMenu > li > button {position:relative;padding-left:22px;background:none;border:none;color:#000;font-size:14px;}
.lnb-area .shareMenu > li > .print::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_print.png) no-repeat left top;background-size:cover;}
.lnb-area .shareMenu > li > .share::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_share.png) no-repeat left top;background-size:cover;}
.share-box {position:absolute;top:46px;left:0;padding:20px;background:#fff;border:1px solid #d8d8d8;border-radius:8px;z-index: 10;}
.share-box strong {color:#000;font-size:16px;}
.share-box .close {position:absolute;top:20px;right:20px;width:20px;height:20px;background: url(../images/ico_20_close_n.png) no-repeat left top;background-size:cover;}
.share-box .close span {font-size:0;line-height:0;}
.share-box .linkBox {display:flex;justify-content: space-between;margin-top:24px;}
.share-box .linkBox a {position:relative;display:block;padding-top:48px;color:#000;font-size:14px;}
.share-box .linkBox .kaka::after {content:"";position:absolute;top:0;left:0;right:0;margin:auto;width:40px;height:40px;background:url(../images/img_kakaoshare.png) no-repeat center top;}
.share-box .linkBox .twit::after {content:"";position:absolute;top:0;left:0;right:0;margin:auto;width:40px;height:40px;background:url(../images/img_twittershare.png) no-repeat center top;}
.share-box .linkBox .face::after {content:"";position:absolute;top:0;left:0;right:0;margin:auto;width:40px;height:40px;background:url(../images/img_facebookshare.png) no-repeat center top;}
.share-box .linkBtn {display:flex;margin-top:24px;}
.share-box .linkBtn .linkInp {width:159px;}
.share-box .linkBtn .linkInp:valid {color:#101314;font-size:14px;}
.share-box .linkBtn .lickCopy {width:60px;margin-left:3px;color:#fff;font-size:14px;}

.option-box {margin-top:12px;padding:19px 26px 17px 14px;background:#f8f8f8;border:1px solid #e8e8e8;border-radius:12px;}
.option-box .btn--group {display:flex;}
.option-box .btn--group .ico-refresh {position:relative;width:40px;height:40px;margin-left:4px;background:#fff;border:1px solid #d8d8d8;border-radius:8px;font-size:0;line-height:0;}
.option-box .btn--group .ico-refresh::after {content:"";position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_refresh_n.png) no-repeat left top;background-size:cover;}
.option-box .sec-box {margin-left:4px;padding:9px 14px;background:#fff;border:1px solid #d8d8d8;border-radius:20px;line-height:1;}
.option-box .sec-box:hover {border:1px solid #ee8508;}
.option-box .sec-box .btn {position:relative;padding:0 22px 0 0;color:#000;font-size:15px;font-weight:500;line-height:1;letter-spacing:-0.3px;}
.option-box .sec-box .btn::after {content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_drop_n.png) no-repeat left top;background-size:cover;}
.option-box .option-type {display:flex;margin-top:20px;padding-top:20px;border-top:1px solid #e8e8e8;}
.option-box .option-type li {position:relative;display:flex;padding:4px 26px 4px 8px;background-color:#e8e8e8;border-radius:6px;}
.option-box .option-type li + li {margin-left:6px;}
.option-box .option-type li p {color:#101314;font-size:14px;line-height:1.43;font-weight:500;}
.option-box .option-type li .type-close {position:absolute;top:0;right:8px;bottom:0;margin:auto;width:12px;height:12px;background:url(../images/ico_12_x_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}

.total {margin-top:32px;}
.total .total-all {display:flex;align-items:center;}
.total .total-search {padding-right:40px;}
.total .select .dropdown-toggle {font-size:14px;}
.total .select.show .dropdown-toggle {border:1px solid #101314;}
.total .total-all .total-txt {margin-left:16px;color:#000;font-size:15px;}
.total .total-search {position:relative;margin:0 8px 0 12px;border:1px solid #cfd0d0;border-radius:8px;}
.total .total-search .select .dropdown-toggle {height:38px;}
.total .total-search .select .btn {border:none;}
.total .total-input .input-box {height:38px;margin:0 8px 0 4px;border:none;}
.total .search-icon-btn {position:absolute;top:0;right:12px;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_search_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.total .ico-filter {position:relative;width:40px;height:40px;background:#fff;border:1px solid #d8d8d8;border-radius:8px;font-size:0;line-height:0;}
.total .ico-filter::after {content:"";position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;width:40px;height:40px;background:url(../images/btn_40_icon_p.png) no-repeat left top;background-size:cover;}
.total .ico-filter.collapsed::after {content:"";position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;width:40px;height:40px;background:url(../images/btn_40_icon_n.png) no-repeat left top;background-size:cover;}
.total.knowledgespread {position:absolute;right:0;margin-top: 0;}
.total.knowledgespread .total-search {margin-right: 0;}

.table-list {width:100%;margin-top:12px;}
.table-list th {height:48px;border-top:1px solid #000;border-bottom:1px solid #d0d0d0 !important;color:#191919;font-size:15px;}
.table-list td {height:48px;border-bottom:1px solid #eaeaea;color:#262626;font-size:14px;}
.table-list td.tit {padding-left:100px;}
.table-list td a {display:flex;align-items:center;color:#262626;font-size:15px;}
.table-list td .locked i {position:relative;display:inline-block;width:16px;height:16px;margin-right:4px;font-size:0;line-height:0;}
.table-list td .locked i::after {content:"";position:absolute;top:0;left:0;width:16px;height:16px;background:url(../images/ico_16_lock.png) no-repeat left top;background-size:cover;}
.table-list td .locked .categori {margin-right:4px;color:#88898a;}
.table-list .notice {background-color: #fff5eb;}

.paging {justify-content:center;margin-top:24px;}
.paging .page-link {display: flex;align-items: center;justify-content: center;width:34px;height:34px;margin:0 2px;padding:0;border-radius:4px;color:#767676;font-size:13px;}
.paging .page-link:hover {background:#fff;border:1px solid #101314;}
.paging .page-link.on {background:#ee8508;border:none;color:#fff;}
.paging .page-link.disabled {border:1px solid #f4f5f5;color:#dfe0e0;}
/* .paging .page-link:focus {box-shadow: none;} */
.paging .page-link.disabled {pointer-events:none;}
.paging .page-link.firstBtn {background:url(../images/btn_34_pagination_prev_n.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.prevBtn {background:url(../images/btn_34_pagination_left_n.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.nextBtn {background:url(../images/btn_34_pagination_right_n.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.lastBtn {background:url(../images/btn_34_pagination_next_n.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.firstBtn:hover {background:url(../images/btn_34_pagination_prev_p.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.prevBtn:hover {background:url(../images/btn_34_pagination_left_p.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.nextBtn:hover {background:url(../images/btn_34_pagination_right_p.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.lastBtn:hover {background:url(../images/btn_34_pagination_next_p.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.firstBtn.disabled {background:url(../images/btn_34_pagination_prev_d.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.prevBtn.disabled {background:url(../images/btn_34_pagination_left_d.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.nextBtn.disabled {background:url(../images/btn_34_pagination_right_d.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.paging .page-link.lastBtn.disabled {background:url(../images/btn_34_pagination_next_d.png)no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}

/* 온라인상담 상세 */
.detail-content .sTxt {color: #88898a;font-size: 16px;font-weight:500;}
.detail-content h3 {display:flex;align-items:center;color:#262626;font-size:24px;font-weight:bold;line-height:1.5;}
.detail-content h3 strong {margin-right:4px;color:#88898a;}
.detail-content h3 .badge {margin-left:10px;padding:2px 4px;background-color:#e2f1da;border-radius:3px;color:#70b949;font-size:12px;line-height:1.5;}
.detail-content.comm {margin-top: 32px;padding: 28px; border:1px solid red;border: 1px solid #ddd;border-radius: 8px;}
.user-cs {margin-top:13px;}
.user-inquiry {display:flex;}
.user-inquiry > li {position:relative;padding-right:8px;margin-right:8px;color:#88898a;font-size:15px;}
.user-inquiry > li::after {content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;width:1px;height:13px;background:#e8e8e8;}
.user-inquiry > li:last-child::after {display:none;}
.comment-share {display:flex;}
.comment-share span,
.comment-share button {color:#1e1e1e;font-size:14px;}
.comment-number {position:relative;padding-left:26px;}
.comment-number::after {content:'';position:absolute;top:0;left:0;bottom:0;margin:auto;width:20px;height:20px;background:url(../images/ico_20_reply_n.png) no-repeat left top;background-size:cover;}
.comment-share .comment-number em {font-style: normal;font-weight:bold;}
.comment-share .share {position:relative;margin-left:12px;padding-left:22px;background:none;border:none;}
.comment-share .share::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_share.png) no-repeat left top;background-size:cover;}
.comment-share > li:last-child {position:relative;}
.comment-share > li .share-box {top:24px;}
.content-txt {margin-top:25px;padding:32px 0 40px;border-top:1px solid #ccc;border-bottom:1px solid #101010;}
.content-txt .photo {margin-bottom:16px;}
.content-txt p {color:#000;font-size:15px;line-height:1.6;letter-spacing:-0.3px;}
.content-txt .comment-more {margin-top:48px;}
.content-txt .comment-more a {position:relative;padding-right:20px;color:#000;font-size:15px;line-height:1.4;letter-spacing:-0.3px;}
.content-txt .comment-more a::after {content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_arrow_black_n.png) no-repeat left top;background-size:cover;}
.content-txt .comment-more a span {font-weight:500;}
.comment-wrap {margin-top:24px;}
.comment-wrap h4 {color:#000;font-size:18px;font-weight:500;line-height:1.17;letter-spacing: -0.36px;}
.comment-wrap h4 em {color:#ee8508;font-style:normal;}
.comment-wrap .comment-box {margin-top:16px;padding:20px;border:1px solid #b8b9b9;border-radius:8px;}
.comment-wrap .comment-box strong {color:#000;font-size:15px;font-weight:500;line-height:1.4;letter-spacing:-0.3px;}
.comment-wrap .comment-box .text-area {width:100%;margin-top:15px;border:none;}
.comment-wrap .comment-box .comment-btn {display:flex;justify-content: flex-end;margin-top:15px;}
.comment-wrap .comment-box .comment-btn .secr-comm {position:relative;padding-left:24px;background:none;border:none;color:#404243;font-size:15px;line-height:1.4;letter-spacing:-0.3px;}
.comment-wrap .comment-box .comment-btn .secr-comm::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:20px;height:20px;background:url(../images/ico_20_unlock_n.png) no-repeat left top;background-size:cover;}
.comment-wrap .comment-box .comment-btn .secr-comm.lock::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:20px;height:20px;background:url(../images/ico_20_lock_n.png) no-repeat left top;background-size:cover;}
.comment-wrap .comment-box .comment-btn .btn-black40 {margin-left:24px;}

.comment-list {margin-top:6px;border-bottom:1px solid #000;}
.comment-list > li {padding-top:14px;}
.comment-list > li + li {border-top:1px solid #c8c8c8;}
.comment-list .indent {margin-bottom:17px;padding-left:20px;}
.comment-list .user-date {color:#000;font-size:16px;font-weight:500;line-height:1.31;letter-spacing:-0.32px;}
.comment-list .user-date em {color:#88898a;font-size:14px;line-height:1.43;font-style:normal;}
.comment-list .comm-txt {margin-top:6px;color:#000;font-size:15px;line-height:1.4;letter-spacing:-0.3px;}
.comment-list .lock-txt {position:relative;margin-top:6px;padding-left:20px;color:#88898a;font-size:15px;line-height:1.4;letter-spacing:-0.3px;}
.comment-list .lock-txt::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_lock.png) no-repeat top left;background-size:cover;}
.comment-list .lock-txt.show::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_lock.png) no-repeat top left;background-size:cover;}
.sBtn {margin-top:9px;}
.sBtn span,
.sBtn button {position:relative;padding-right:16px;background:none;border:none;color:#88898a;font-size:14px;font-weight:500;line-height:1.5;letter-spacing:-0.28px;}
.sBtn span::after,
.sBtn button::after {content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;width:1px;height:13px;background:#e8e8e8;}
.sBtn .btn-com::after {content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;width:12px;height:12px;background:url(../images/ico_12_close.png) no-repeat left top;background-size:cover;}
.sBtn .collapsed::after {content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;width:12px;height:12px;background:url(../images/ico_12_open.png) no-repeat left top;background-size:cover;}
.sBtn .btn-mod {position:relative;padding-right:9px;margin-right:3px;background:none;border:none;color:#88898a;font-size:15px;font-weight:500;line-height:1.4;letter-spacing:-0.3px;}

.sBtn .btn-del {padding:0;background:none;border:none;color:#88898a;font-size:15px;font-weight:500;line-height:1.4;letter-spacing:-0.3px;}
.sBtn .lock-right {display:none;text-align: right;}
.lock-comme {display:none;}
.comme-comme {padding:16px 0 17px 36px;background:#fafafa;border-top:1px solid #c8c8c8;}
.comme-comme .user-date {position:relative;padding-left:20px;font-size:15px;font-weight:500;line-height:1.4;letter-spacing:-0.3px;}
.comme-comme .user-date::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_reply_n.png) no-repeat left top;background-size:cover;}
.comme-comme .date {position:relative;padding-right:9px;margin-right:3px;color:#88898a;font-size:15px;font-weight:500;line-height:1.47;}
.comme-comme .date::after {content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;width:1px;height:13px;background:#e8e8e8;}
.comme-comme .btn-com {position:relative;padding-right:9px;margin-right:3px;background:none;border:none;color:#88898a;font-size:15px;font-weight:500;line-height:1.4;letter-spacing:-0.3px;}
.comme-comme .btn-com::after {content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;width:1px;height:13px;background:#e8e8e8;}
.page-control {display:flex;justify-content:space-between;margin-top:24px;border:1px solid #d3d3d4;border-radius:4px;}
.page-control ul {display:flex;justify-content:space-between;width:100%;}
.page-control ul > li {display:flex;align-items:center;width:50%;padding:15px 16px;border-right:1px solid #d3d3d4;}
.page-control ul > li + li {justify-content: flex-end;}
.page-control .prev-txt {position:relative;padding-left:20px;background:none;border:none;color:#101314;font-size:14px;line-height:1.86;font-weight:bold;letter-spacing:-0.14px;}
.page-control .prev-txt::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_prev_n.png) no-repeat left top;background-size:cover;}
.page-control .next-txt {position:relative;padding-right:20px;background:none;border:none;color:#101314;font-size:14px;line-height:1.86;font-weight:bold;letter-spacing:-0.14px;}
.page-control .next-txt::after {content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_next_n.png) no-repeat left top;background-size:cover;}
.page-control .page-tit {color:#88898a;font-size:14px;line-height:1.86;letter-spacing:-0.14px;}
.page-control .list-btn {position:relative;width:48px;font-size:0;line-height:0;}
.page-control .list-btn::after {content:"";position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;width:24px;height:24px;background:url(../images/ico_24_list_n.png) no-repeat left top;background-size:cover;}

/* 쓰기페이지 */
.write-content {display:block;}
.categor-box {display:flex;align-items:center;}
.categor-box .custom-control {margin-left:14px;}
.write-form {margin-top:12px;}
.write-form .tit-form {margin-bottom:12px;}
.write-form .tit-form .input-box {width:100%;}
.write-form .cont-form {padding:16px;border:1px solid #d8d8d8;border-radius:8px;}
.write-form .cont-form textarea {width:100%;height:285px;border:none;}

.add-file-photo {margin-top:20px;}
.add-file-photo dt {color:#000;font-size:15px;font-weight:500;line-height:1.47;letter-spacing:-0.3px;}
.add-file-photo dd {margin-top:12px;}
.files-area {margin-top:8px;display:flex;}
.files-area li {position:relative;padding:4px 26px 4px 8px;background:#e8e8e8;border-radius:6px;color:#101314;font-size:14px;line-height:1.43;font-weight:500;}
.files-area li + li {margin-left:4px;}
.files-area li .file-del {position:absolute;top:0;right:8px;bottom:0;margin:auto;width:12px;height:12px;background:transparent url(../images/ico_12_x_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}

.photo-area {margin-top:8px;display:flex;}
.photo-area li {position:relative;width:120px;height:80px;}
.photo-area li img {width:120px;height:80px;}
.photo-area li + li {margin-left:4px;}
.photo-area li .photo-del {position:absolute;top:4px;right:4px;width:16px;height:16px;background:transparent url(../images/ico_16_photo_close_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}

.notif-box {margin-top:24px;padding:20px;background:#fafafa;border-radius:8px;}
.notif-box p {margin-bottom:12px;color:#101314;font-size:15px;line-height:1.4;font-weight:500;letter-spacing:-0.3px;}

/* 답변 */
.answer-txt {margin-top:25px;padding-top:32px;border-top:1px solid #ccc;border-bottom:1px solid #101010;}
.answer-txt p {color:#000;font-size:15px;line-height:1.6;letter-spacing:-0.3px;}
.answer-txt .comme-comme {margin-top:32px;padding:20px;}

/* faq */
.faq-content {display:block;}
.faq-content .pc-tab {margin-top:30px;}
.faq-content .paging {margin-top:24px;}
.search-box {position:relative;display:flex;align-items:center;max-width:480px;height:52px;margin:0 auto;padding:0 50px 0 23px;background:#fff;border:2px solid #4d4b4b;border-radius:26px;}
.search-box .dropdown {margin-right:11px;}
.search-box .dropdown .btn {position:relative;padding:0 22px 0 0;}
.search-box .dropdown .btn::after {content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_drop_n.png) no-repeat left top;background-size:cover;border:none;}
.search-box .dropdown .btn span {color:#101314;font-size:14px;line-height:1.43;letter-spacing:-0.28px;}
.search-box .dropdown-menu {min-width:110px;padding:6px 8px 8px 12px;}
.search-box .dropdown-menu li {padding-right:4px;}
.search-box .dropdown-menu li:first-child button {border-top:none;}
.search-box .dropdown-menu li button {display:block;width:100%;padding:8px 0;background:none;border:none;border-top:1px solid #e8e8e8;color:#000;font-size:14px;text-align:left;}
.search-box .dropdown-menu ul {overflow-y:scroll;}
.search-box .dropdown-menu.h150 ul {height:150px;}
.search-box .dropdown-menu ul::-webkit-scrollbar {width: 2px;}
.search-box .dropdown-menu ul::-webkit-scrollbar-thumb {background-color: #b8b9b9;}
.search-box .dropdown-menu ul::-webkit-scrollbar-track {background-color: transparent;}
.search-box .input-box {width:100%;height:24px;border:none;border-left:1px solid #e5e6e6;border-radius:0;}
.search-box .search {position:absolute;top:0;right:19px;bottom:0;margin:auto;width:24px;height:24px;background:url(../images/ico_search_n.png) no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}

.faq {background:url(../images/img_top_faq.jpg) no-repeat center;background-size:cover;}
.accordion {margin-top:20px;}
.accordion .card {padding:18px 20px 19px;border:1px solid #c6c6c6 !important;border-radius:16px !important;}
.accordion .card + .card {margin-top:16px;}
.accordion .card-header {position:relative;padding-left:50px;background:none;border:none;}
.accordion .card-header::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:40px;height:40px;background:url(../images/img_qn.png) no-repeat left top;background-size:cover;}
.accordion .show .card-header::after {background:url(../images/img_qs.png) no-repeat left top;background-size:cover;}
.accordion .card-header strong {color:#101314;font-size:18px;line-height:1.5;font-weight:500;letter-spacing:-0.54px;;}
.accordion .card-header .q-tit {display:flex;}
.accordion .card-header .q-tit li {color:#4d4b4b;font-size:12px;line-height:1.5;letter-spacing:-0.36px;}
.accordion .card-header .q-tit li + li {position:relative;margin-left:5px;padding-left:5px;}
.accordion .card-header .q-tit li + li::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:1px;height:9px;background:#c3c3c3;}
.accordion .card-header .btn {position:absolute;top:0;right:0;bottom:0;margin:auto;width:24px;height:24px;background:url(../images/ico_24_drop_p.png) no-repeat left top;background-size:cover;border:none;font-size:0;line-height:0;}
.accordion .card-header .btn.collapsed {background:url(../images/ico_24_drop_n.png) no-repeat left top;background-size:cover;}
.accordion .card-body {padding:16px 40px 0 50px;border-top:1px solid #e8e8e8;}
.accordion .card-body p {color:#101314;font-size:14px;line-height:1.71;letter-spacing:-0.42px;}

.counsel {background:url(../images/img_top_advice.jpg) no-repeat center;background-size:cover;}
.counsel-content .card {padding:36px 30px 48px;border:1px solid #e2e2e2;border-radius:16px;box-shadow:0 3px 20px 0 rgba(0, 0, 0, 0.05);text-align:center;}
.counsel-content .card .card-title {color:#101314;font-size:22px;line-height:1.5;font-weight:bold;}
.counsel-content .card .card-img-top {margin-top:12px;padding:0 30px;}
.counsel-content .card .card-img-top img {max-width:100%;}
.counsel-content .card .card-body {margin-top:19px;padding:0;}
.counsel-content .card .card-body .card-text {color:#4d4b4b;font-size:14px;line-height:1.57;letter-spacing:-0.56px;}
.counsel-content .card .card-body .card-des {margin-top:7px;color:#101314;font-size:12px;line-height:1.67;opacity:0.6;}
.counsel-content .card .card-body .txt-orange {color:#ee8508;opacity:1;}
.counsel-content .card .card-body .p-num {display:block;margin-top:40px;color:#4d4b4b;font-size:32px;line-height:1.47;}

/* 지역상담 */
.area {background:url(../images/img_top_area.jpg) no-repeat center;background-size:cover;}
.area-select {display:flex;padding:12px 16px;background:#f8f8f8;border-radius:12px;}
.area-select .select + .select {margin-left:6px;}
.area .stit {color:#101314;font-size:20px;line-height:1.8;font-weight:bold;}

.area-list {width:100%;margin-top:16px;border-top:1px solid #101314;border-bottom:1px solid #101314;}
.area-list th {padding:15px 0;background:#fafafa;border-left:1px solid #e3e3e3;border-bottom:2px solid #101314;color:#101314;font-size:14px;line-height:1.43;letter-spacing:-0.42px;}
.area-list th:first-child,
.area-list td:first-child {border-left:none;}
.area-list td {padding:15px 0;background:#fafafa;border-top:1px solid #e3e3e3;border-left:1px solid #e3e3e3;color:#101314;font-size:14px;line-height:1.43;letter-spacing:-0.42px;}
.area-list td.td-area {padding-left:10px;}

/* 교육정보 및 신청 */
.academy {background:url(../images/img_top_education.jpg) no-repeat center;background-size:cover;}
.common-txt {padding-bottom:72px;border-bottom:1px solid #b8d3ad;}
.common-txt.character {background:url(../images/img_statistics.png) no-repeat right bottom;background-size:213px 223px;}
.common-txt.character h3 {margin:20px 0 0 0;color:#70b949;font-size:40px;line-height:1.5;letter-spacing:-2px;font-weight:bold;}
.common-txt h4 {margin:0;color:#101314;font-size:18px;line-height:1.78;letter-spacing:-0.9px;font-weight:bold;}
.common-txt > p {margin:8px 0 0 0;color:#101314;font-size:15px;line-height:1.6;letter-spacing:-0.75px;}
.common-txt .deth-light {margin-top:2px;position:relative;padding-left:11px;color:#8b8b8b;font-size:14px;line-height:1.43;letter-spacing:-0.7px;}
.common-txt .deth-light::after {content:"";position:absolute;top:9px;left:0;width:4px;height:2px;background:#8b8b8b;}
.common-txt .star-light {margin-top:2px;position:relative;padding-left:11px;color:#8b8b8b;font-size:14px;line-height:1.43;letter-spacing:-0.7px;}
.common-txt .star-light::after {content:"*";position:absolute;top:0;left:0;}
.common-txt.exagger {padding:44px 0 72px;}
.common-txt.exagger h3 {color:#59a530;font-size:22px;line-height:2.45;font-weight:bold;}
.common-txt .e-txt li {display:flex;margin-top:12px;}
.common-txt .e-txt li > strong {margin-right:8px;min-width:82px;color:#101314;font-size:15px;line-height:1.6;letter-spacing:-0.75px;font-weight:500;}
.common-txt .e-txt li > p {position:relative;padding-left:8px;color:#101314;font-size:15px;line-height:1.6;letter-spacing:-0.75px;}
.common-txt .e-txt li > p::after {content:"";position:absolute;top:7px;left:0;width:1px;height:13px;background:#cfcfd0;}
.common-txt .e-txt .txt-block {display:block;}
.common-txt .e-txt .txt-block .t-ind {padding-left:13px;}
.common-txt .e-txt .txt-block p {margin-top:6px;color:#101314;font-size:14px;line-height:1.43;letter-spacing:-0.7px;}
.common-txt .e-txt .txt-block .deth-light {margin:0;color:#8b8b8b;font-size:14px;line-height:1.43;letter-spacing:-0.7px;}
.common-txt .e-txt .txt-block .deth-light + p {margin-top:8px;}
.common-txt .dot-txt {margin-top:6px;}
.common-txt .dot-txt li {position:relative;padding-left:11px;color:#4b4b4b;font-size:15px;line-height:1.87;letter-spacing:-0.75px;}
.common-txt .dot-txt li::after {content:"";position:absolute;top:13px;left:1px;width:2px;height:2px;background:#4b4b4b;}
.common-txt.line-black {border-bottom:1px solid #4d4b4b;}
.common-txt .ce-down {margin-top:8px;position:relative;height:34px;padding:0 11px 0 31px;background:none;border:1px solid #968f8f;border-radius:18px;color:#101314;font-size:15px;line-height:1.47;letter-spacing:-0.45px;font-weight:500;}
.common-txt .ce-down::after {content:"";position:absolute;top:0;left:11px;bottom:0;margin:auto;width:16px;height:16px;background:url(../images/ico_16_down.png) no-repeat left top;background-size:cover;}

.area-title {display:flex;}
.area-title li {color:#4d4b4b;font-size:14px;font-weight:500;}
.area-title li + li {position:relative;margin-left:6px;padding-left:8px;}
.area-title li + li::after {content:"";position:absolute;top:0;left:0;bottom:0;margin:auto;width:2px;height:2px;background-color:#4d4b4b;}

.name-title {display:flex;}
.name-title li {color:#4e5658;font-size:14px;font-weight:bold;}
.name-title li + li {margin-left:4px;color:#848484;font-size:14px;font-weight:500;}


/* color set */
.text-primary {color:#ee8508 !important}